# Project

Welcome to the group project! The project is based on the [ACM RecSys 2021 Challenge](https://recsys-twitter.com/).

- Detailed information about the task, submission and grading can be found in a [dedicates site on TUWEL](https://tuwel.tuwien.ac.at/mod/page/view.php?id=1217340).
- Information about the dataset structure [on this site on TUWEL](https://tuwel.tuwien.ac.at/mod/page/view.php?id=1218810).

In [1]:
team_name = "team_15"
team_members = [("Markus Böck","01634838"),
                ("Luiza Corpaci","12037284"),
                ("Iulia Cristina Hatiegan", "01302969"),
                ("Adriana-Maria Railean", "01304039"),
                ("Rani Reetu", "11843424")]

In [2]:
print(team_name)
print(team_members)

team_15
[('Markus Böck', '01634838'), ('Luiza Corpaci', '12037284'), ('Iulia Cristina Hatiegan', '01302969'), ('Adriana-Maria Railean', '01304039'), ('Rani Reetu', '11843424')]

In [11]:
try:
    import pandas as pd
except:
    if hasattr(sys, 'real_prefix'):
        #we are in a virtual env.
        !pip3 install pandas
    else:
        !pip3 install --user pandas

import os
import re
import csv
import datetime

In [12]:
path_to_data = '~/shared/data/project/training/'
val_path_to_data = '~/shared/data/project/validation/'
dataset_type = 'one_hour' # all_sorted, one_day, one_hour, one_week
val_dataset_type = "one_hour"
expanded_path = os.path.expanduser(path_to_data)
part_files = [os.path.join(expanded_path, f) for f in os.listdir(expanded_path) if dataset_type in f]
part_files = sorted(part_files, key = lambda x:x[-5:])

In [13]:
all_features = ["text_tokens", "hashtags", "tweet_id", "present_media", "present_links", "present_domains",\
                "tweet_type","language", "tweet_timestamp", "engaged_with_user_id", "engaged_with_user_follower_count",\
               "engaged_with_user_following_count", "engaged_with_user_is_verified", "engaged_with_user_account_creation",\
               "engaging_user_id", "enaging_user_follower_count", "enaging_user_following_count", "enaging_user_is_verified",\
               "enaging_user_account_creation", "engagee_follows_engager", "reply", "retweet", "quote", "like"]

all_features_to_idx = dict(zip(all_features, range(len(all_features))))

### Note:
`evaluate_test_set` moved to Section **Item-Item Collaborative Filtering**.

## Data Analysis & Baselines
#### Author: Markus Böck

In [5]:
import pandas as pd
import numpy as np
import time

import matplotlib.pyplot as plt

Collecting statistics:
- Number of rows
- Numer of unique users
- Number of unique tweets
- Percentage of engagements (reply, retweet, quote, like)
- Percentage of users of validation set appearing in training data

In [4]:
%%time

res = {}
for dataset_type in ["one_hour", "one_day", "one_week"]:
    expanded_path = os.path.expanduser(path_to_data)
    part_files = [os.path.join(expanded_path, f) for f in os.listdir(expanded_path) if dataset_type in f]
    part_files = sorted(part_files, key = lambda x:x[-5:])
    part_files
    print(part_files)

    tweet_counts = dict()
    user_counts = dict()
    
    nreply = 0
    nretweet = 0
    nquote = 0
    nlike = 0
    nengagement = 0

    nrows = 0
    with open(part_files[0], 'r') as f:
        linereader = csv.reader(f, delimiter='\x01')
        last_timestamp = None
        i = 0
        tik = time.time()
        for row in linereader:
            tweet_id = row[all_features_to_idx['tweet_id']]
            user_id = row[all_features_to_idx['engaging_user_id']]
            
            reply = row[all_features_to_idx['reply']] != ""
            retweet = row[all_features_to_idx['retweet']] != ""
            quote = row[all_features_to_idx['quote']] != ""
            like = row[all_features_to_idx['like']] != ""
                
            nreply += reply
            nretweet += retweet
            nquote += quote
            nlike += like
            nengagement += (reply or retweet or quote or like)
                        
            v = 0
            try:
                v = tweet_counts[tweet_id]
            except:
                pass
            tweet_counts[tweet_id] = v + 1

            v = 0
            try:
                v = user_counts[user_id]
            except:
                pass
            user_counts[user_id] = v + 1

            if i % 100000 == 0:
                tok = time.time()
                print(f"{i} {100000/(tok-tik): .2f} iter/s", end="\r")
                tik = time.time()

            i += 1

        nrows = i
        
        stats = {"nrows": nrows}
        
        stats["nreply"] = nreply
        stats["nretweet"] = nretweet
        stats["nquote"] = nquote
        stats["nlike"] = nlike
        stats["nengagement"] = nengagement
        
        stats["unique_tweets"] = len(tweet_counts)
        stats["unique_users"] = len(user_counts)
        
        percs = []
        for i in range(1,11):
            perc = sum([1 for (j,c) in tweet_counts.items() if c >= i])  / len(tweet_counts)
            percs.append(perc)
        stats["tweet_dist"] = percs
        
        percs = []
        for i in range(1,11):
            perc = sum([1 for (j,c) in user_counts.items() if c >= i])  / len(user_counts)
            percs.append(perc)
        stats["user_dist"] = percs
        
        stats["val_user_perc"] = len(set(val_data["engaging_user_id"].unique()).intersection(set(user_counts.keys()))) / val_data.shape[0] * 100
        stats["val_tweet_perc"] = len(set(val_data["tweet_id"].unique()).intersection(set(tweet_counts.keys()))) / val_data.shape[0] * 100
        
        res[dataset_type] = stats

NameError: name 'os' is not defined

All data needs special treatment. Exploit the fact that this set is ordered according to tweet id.

In [ ]:
%%time

dataset_type = "all_sorted"
expanded_path = os.path.expanduser(path_to_data)
part_files = [os.path.join(expanded_path, f) for f in os.listdir(expanded_path) if dataset_type in f]
part_files = sorted(part_files, key = lambda x:x[-5:])
part_files
print(part_files)

current_tweet_id = ""
tweet_count = 1
tweet_dist = [0]*10
n_unique_tweets = 0

user_counts = dict()

nreply = 0
nretweet = 0
nquote = 0
nlike = 0
nengagement = 0

nrows = 0
with open(part_files[0], 'r') as f:
    linereader = csv.reader(f, delimiter='\x01')
    last_timestamp = None
    i = 0
    tik = time.time()
    for row in linereader:
        tweet_id = row[all_features_to_idx['tweet_id']]
        user_id = row[all_features_to_idx['engaging_user_id']]

        #print(tweet_id)
        
        if current_tweet_id == tweet_id:
            tweet_count += 1
        else:
            #print(tweet_id, tweet_count)
            for j in range(1, 11):
                if tweet_count >= j:
                    tweet_dist[j-1] += 1
            tweet_count = 1
            current_tweet_id = tweet_id
            n_unique_tweets += 1
                

        reply = row[all_features_to_idx['reply']] != ""
        retweet = row[all_features_to_idx['retweet']] != ""
        quote = row[all_features_to_idx['quote']] != ""
        like = row[all_features_to_idx['like']] != ""

        nreply += reply
        nretweet += retweet
        nquote += quote
        nlike += like
        nengagement += (reply or retweet or quote or like)


        v = 0
        try:
            v = user_counts[user_id]
        except:
            pass
        user_counts[user_id] = v + 1

        if i % 100000 == 0:
            tok = time.time()
            print(f"{i} {100000/(tok-tik): .2f} iter/s", end="\r")
            tik = time.time()

        i += 1


    nrows = i

    stats = {"nrows": nrows}

    stats["nreply"] = nreply
    stats["nretweet"] = nretweet
    stats["nquote"] = nquote
    stats["nlike"] = nlike
    stats["nengagement"] = nengagement

    stats["unique_tweets"] = n_unique_tweets
    stats["unique_users"] = len(user_counts)

    stats["tweet_dist"] = [d/n_unique_tweets for d in tweet_dist]

    percs = []
    for i in range(1,11):
        perc = sum([1 for (j,c) in user_counts.items() if c >= i])  / len(user_counts)
        percs.append(perc)
    stats["user_dist"] = percs

    stats["val_user_perc"] = len(set(val_data["engaging_user_id"].unique()).intersection(set(user_counts.keys()))) / val_data.shape[0] * 100
    stats["val_tweet_perc"] = 0.

res[dataset_type] = stats

In [ ]:
del tweet_counts
del user_counts

In [ ]:
# Print statistics
for (k,stats) in res.items():
    print(k)
    print("\tnrows", stats["nrows"])
    
    print("\tnreply", stats["nreply"], "-", round(stats["nreply"]/stats["nrows"]*100,2), "%")
    print("\tnretweet", stats["nretweet"], "-", round(stats["nretweet"]/stats["nrows"]*100,2), "%")
    print("\tnquote", stats["nquote"], "-", round(stats["nquote"]/stats["nrows"]*100,2), "%")
    print("\tnlike", stats["nlike"], "-", round(stats["nlike"]/stats["nrows"]*100,2), "%")
    print("\tnengagement", stats["nengagement"], "-", round(stats["nengagement"]/stats["nrows"]*100,2), "%")
          
    print("\tunique_tweets", stats["unique_tweets"])
    print("\tunique_users", stats["unique_users"])
    print("\tval_user_perc", stats["val_user_perc"])
    try:
        print("\tval_tweet_perc", stats["val_tweet_perc"])
    except KeyError:
        pass

In [ ]:
fig = plt.figure()
for (k,stats) in res.items():
    dist = stats["tweet_dist"]
    plt.plot(range(1,len(dist)+1), dist, label=k)
    
plt.legend()
plt.title("% of tweets appearing more than n times")
plt.xlabel("n")
#plt.yscale("log")
plt.savefig("tweets.pdf")

In [ ]:
fig = plt.figure()
for (k,stats) in res.items():
    dist = stats["user_dist"]
    plt.plot(range(1,len(dist)+1), dist, label=k)
    
plt.legend()
plt.title("% of users appearing more than n times")
plt.xlabel("n")
#plt.yscale("log")
plt.savefig("users.pdf")

### Baselines

#### Predicting mean engagement

In [ ]:
for (k,stats) in res.items():
    print(k)
    
    nvalrows = val_data.shape[0]
    reply_mean = stats["nreply"]/stats["nrows"]
    retweet_mean = stats["nretweet"]/stats["nrows"]
    quote_mean = stats["nquote"]/stats["nrows"]
    like_mean = stats["nlike"]/stats["nrows"]
    
    p = np.full(nvalrows, reply_mean)
    gt = val_data.reply
    print("reply:", "rce", compute_rce(p, gt), "avgprec", average_precision_score(gt, p))
    p = np.full(nvalrows, retweet_mean)
    gt = val_data.retweet
    print("retweet:", "rce", compute_rce(p, gt), "avgprec", average_precision_score(gt, p))
    p = np.full(nvalrows, quote_mean)
    gt = val_data.quote
    print("quote:", "rce", compute_rce(p, gt), "avgprec", average_precision_score(gt, p))
    p = np.full(nvalrows, like_mean)
    gt = val_data.like
    print("like:", "rce", compute_rce(p, gt), "avgprec", average_precision_score(gt, p))

#### Predicting no engagement

In [ ]:
nvalrows = val_data.shape[0]
reply_pred = 0.
retweet_pred = 0.
quote_pred = 0.
like_pred = 0.

p = np.full(nvalrows, reply_pred)
gt = val_data.reply
print("reply:", "rce", compute_rce(p, gt), "avgprec", average_precision_score(gt, p))
p = np.full(nvalrows, retweet_pred)
gt = val_data.retweet
print("retweet:", "rce", compute_rce(p, gt), "avgprec", average_precision_score(gt, p))
p = np.full(nvalrows, quote_pred)
gt = val_data.quote
print("quote:", "rce", compute_rce(p, gt), "avgprec", average_precision_score(gt, p))
p = np.full(nvalrows, like_pred)
gt = val_data.like
print("like:", "rce", compute_rce(p, gt), "avgprec", average_precision_score(gt, p))

## User-User Collaborative Filtering

#### Authors: Iulia Cristina Hatiegan, Adriana-Maria Railean

In [14]:
all_features = ["text_tokens", "hashtags", "tweet_id", "present_media", "present_links", "present_domains",\
                "tweet_type","language", "tweet_timestamp", "engaged_with_user_id", "engaged_with_user_follower_count",\
               "engaged_with_user_following_count", "engaged_with_user_is_verified", "engaged_with_user_account_creation",\
               "engaging_user_id", "enaging_user_follower_count", "enaging_user_following_count", "enaging_user_is_verified",\
               "enaging_user_account_creation", "engagee_follows_engager", "reply_timestamp", "retweet_timestamp", "retweet_with_comment_timestamp", "like_timestamp"]

all_features_to_idx = dict(zip(all_features, range(len(all_features))))

In [15]:
def load_data(filename):
        data = pd.read_csv(filename, sep='\x01', names=all_features, index_col=False)
        return data

In [16]:
data = load_data(path_to_data + dataset_type)

# We choose first 5k rows in order to work faster with the data
data = data.head(5000)

In [17]:
data.head()

,text_tokens,hashtags,tweet_id,present_media,present_links,present_domains,tweet_type,language,tweet_timestamp,engaged_with_user_id,...,engaging_user_id,enaging_user_follower_count,enaging_user_following_count,enaging_user_is_verified,enaging_user_account_creation,engagee_follows_engager,reply_timestamp,retweet_timestamp,retweet_with_comment_timestamp,like_timestamp
0,101\t100\t100\t100\t100\t100\t100\t100\t100\t1...,NaN,395A05A1E8A0A4CEB2E623281C7A41EE,NaN,NaN,NaN,TopLevel,313ECD3A1E5BB07406E4249475C2D6D6,1614207600,55F619B7474C1BA0C8EE03C2A31C534C,...,736278C2FEC488516CDA4ED6952A2154,1139,1126,False,1601425426,False,NaN,NaN,NaN,1.614208e+09
1,101\t100\t100\t100\t100\t100\t216\t216\t10243\...,NaN,81E8247F4E74A0FCDBA911E1A3CB5412,Photo,758E6F75A253992C7070F6B8A8A891A6,6B7D92057ACA0F97EFB5B724D3C963E4,TopLevel,B0FA488F2911701DD8EC5B1EA5E322D8,1614207600,9B49D384D56A65E00A12D8349EB46CE5,...,19D5367D835484236CAF9DBEF475FF7A,82,76,False,1495813718,False,NaN,NaN,NaN,NaN
2,101\t100\t100\t100\t100\t100\t216\t216\t10243\...,NaN,81E8247F4E74A0FCDBA911E1A3CB5412,Photo,758E6F75A253992C7070F6B8A8A891A6,6B7D92057ACA0F97EFB5B724D3C963E4,TopLevel,B0FA488F2911701DD8EC5B1EA5E322D8,1614207600,9B49D384D56A65E00A12D8349EB46CE5,...,40BEB04CF8D3CB02449879668656FFDB,108,351,False,1506038593,False,NaN,NaN,NaN,NaN
3,101\t100\t100\t100\t100\t100\t216\t216\t10243\...,NaN,81E8247F4E74A0FCDBA911E1A3CB5412,Photo,758E6F75A253992C7070F6B8A8A891A6,6B7D92057ACA0F97EFB5B724D3C963E4,TopLevel,B0FA488F2911701DD8EC5B1EA5E322D8,1614207600,9B49D384D56A65E00A12D8349EB46CE5,...,6415C94D3C27BA84C069DE049EBB3EDE,69,106,False,1562533868,False,NaN,NaN,NaN,NaN
4,101\t100\t100\t100\t100\t100\t216\t216\t10243\...,NaN,81E8247F4E74A0FCDBA911E1A3CB5412,Photo,758E6F75A253992C7070F6B8A8A891A6,6B7D92057ACA0F97EFB5B724D3C963E4,TopLevel,B0FA488F2911701DD8EC5B1EA5E322D8,1614207600,9B49D384D56A65E00A12D8349EB46CE5,...,7E614D5881BC18768880CC374C4BE821,24,180,False,1302057914,False,NaN,NaN,NaN,NaN

In [18]:
def columns_to_list(data, columns):
    
    for col in columns:
        data[col] = data[col].str.split('\t')
    return data


def columns_to_timestamps(data, columns):
    for col in columns:  
        data[col] = data[col].apply(lambda x: pd.Timestamp(x, unit='s'))
        
    return data
    
cols_to_list = ['text_tokens', 'hashtags', 'present_media', 'present_links', 'present_domains']
data = columns_to_list(data, cols_to_list)    

cols_to_timestamps = ['tweet_timestamp', 'enaging_user_account_creation', 'reply_timestamp', 'retweet_timestamp', 'retweet_with_comment_timestamp', 'like_timestamp']
data = columns_to_timestamps(data, cols_to_timestamps)

In [19]:
pd.set_option('display.max_columns', None)
print(data.shape)
display(data.head(50))

(5000, 24)

,text_tokens,hashtags,tweet_id,present_media,present_links,present_domains,tweet_type,language,tweet_timestamp,engaged_with_user_id,engaged_with_user_follower_count,engaged_with_user_following_count,engaged_with_user_is_verified,engaged_with_user_account_creation,engaging_user_id,enaging_user_follower_count,enaging_user_following_count,enaging_user_is_verified,enaging_user_account_creation,engagee_follows_engager,reply_timestamp,retweet_timestamp,retweet_with_comment_timestamp,like_timestamp
0,"[101, 100, 100, 100, 100, 100, 100, 100, 100, ...",NaN,395A05A1E8A0A4CEB2E623281C7A41EE,NaN,NaN,NaN,TopLevel,313ECD3A1E5BB07406E4249475C2D6D6,2021-02-24 23:00:00,55F619B7474C1BA0C8EE03C2A31C534C,6567,4006,False,1456262411,736278C2FEC488516CDA4ED6952A2154,1139,1126,False,2020-09-30 00:23:46,False,NaT,NaT,NaT,2021-02-24 23:05:04
1,"[101, 100, 100, 100, 100, 100, 216, 216, 10243...",NaN,81E8247F4E74A0FCDBA911E1A3CB5412,[Photo],[758E6F75A253992C7070F6B8A8A891A6],[6B7D92057ACA0F97EFB5B724D3C963E4],TopLevel,B0FA488F2911701DD8EC5B1EA5E322D8,2021-02-24 23:00:00,9B49D384D56A65E00A12D8349EB46CE5,47951,681,True,1305833605,19D5367D835484236CAF9DBEF475FF7A,82,76,False,2017-05-26 15:48:38,False,NaT,NaT,NaT,NaT
2,"[101, 100, 100, 100, 100, 100, 216, 216, 10243...",NaN,81E8247F4E74A0FCDBA911E1A3CB5412,[Photo],[758E6F75A253992C7070F6B8A8A891A6],[6B7D92057ACA0F97EFB5B724D3C963E4],TopLevel,B0FA488F2911701DD8EC5B1EA5E322D8,2021-02-24 23:00:00,9B49D384D56A65E00A12D8349EB46CE5,47951,681,True,1305833605,40BEB04CF8D3CB02449879668656FFDB,108,351,False,2017-09-22 00:03:13,False,NaT,NaT,NaT,NaT
3,"[101, 100, 100, 100, 100, 100, 216, 216, 10243...",NaN,81E8247F4E74A0FCDBA911E1A3CB5412,[Photo],[758E6F75A253992C7070F6B8A8A891A6],[6B7D92057ACA0F97EFB5B724D3C963E4],TopLevel,B0FA488F2911701DD8EC5B1EA5E322D8,2021-02-24 23:00:00,9B49D384D56A65E00A12D8349EB46CE5,47951,681,True,1305833605,6415C94D3C27BA84C069DE049EBB3EDE,69,106,False,2019-07-07 21:11:08,False,NaT,NaT,NaT,NaT
4,"[101, 100, 100, 100, 100, 100, 216, 216, 10243...",NaN,81E8247F4E74A0FCDBA911E1A3CB5412,[Photo],[758E6F75A253992C7070F6B8A8A891A6],[6B7D92057ACA0F97EFB5B724D3C963E4],TopLevel,B0FA488F2911701DD8EC5B1EA5E322D8,2021-02-24 23:00:00,9B49D384D56A65E00A12D8349EB46CE5,47951,681,True,1305833605,7E614D5881BC18768880CC374C4BE821,24,180,False,2011-04-06 02:45:14,False,NaT,NaT,NaT,NaT
5,"[101, 100, 100, 100, 100, 100, 216, 216, 10243...",NaN,81E8247F4E74A0FCDBA911E1A3CB5412,[Photo],[758E6F75A253992C7070F6B8A8A891A6],[6B7D92057ACA0F97EFB5B724D3C963E4],TopLevel,B0FA488F2911701DD8EC5B1EA5E322D8,2021-02-24 23:00:00,9B49D384D56A65E00A12D8349EB46CE5,47951,681,True,1305833605,9CFE74AF494F669C35496B000C5843AB,269,494,False,2011-11-11 23:21:18,False,NaT,NaT,NaT,NaT
6,"[101, 100, 100, 100, 100, 100, 216, 216, 10243...",NaN,81E8247F4E74A0FCDBA911E1A3CB5412,[Photo],[758E6F75A253992C7070F6B8A8A891A6],[6B7D92057ACA0F97EFB5B724D3C963E4],TopLevel,B0FA488F2911701DD8EC5B1EA5E322D8,2021-02-24 23:00:00,9B49D384D56A65E00A12D8349EB46CE5,47951,681,True,1305833605,B5FAB4F5EC1B12BE7E7FE0C27662EB80,770,1323,False,2010-06-18 17:25:31,True,NaT,NaT,NaT,2021-02-24 23:42:41
7,"[101, 100, 100, 11045, 12589, 10545, 27920, 71...",[2C8377CDAFF61B5431417E4615B5C079],40729594A0EC3DB7D690C6789EC11992,[Video],NaN,NaN,TopLevel,B0FA488F2911701DD8EC5B1EA5E322D8,2021-02-24 23:00:00,13F0E6E89E19B4E2F6C6F881E6B5B35E,4428,376,False,1454502209,BDAFE5407EF4AA3E63E12B8074CA6951,201,1322,False,2010-08-03 04:23:42,False,NaT,NaT,NaT,NaT
8,"[101, 100, 100, 216, 216, 137, 10183, 10115, 1...",NaN,E5DE595BFF4F548CE9CD32B599FAB516,[Video],NaN,NaN,TopLevel,488B32D24BD4BB44172EB981C1BCA6FA,2021-02-24 23:00:00,193A666BBC290075BB8E78672D0153A6,175968,161,False,1569911252,11612C81933A4F93C5F985AAFE3E04CB,47,356,False,2019-08-21 07:17:56,False,NaT,NaT,NaT,2021-02-24 23:07:39
9,"[101, 100, 100, 216, 216, 137, 10183, 10115, 1...",NaN,E5DE595BFF4F548CE9CD32B599FAB516,[Video],NaN,NaN,TopLevel,488B32D24BD4BB44172EB981C1BCA6FA,2021-02-24 23:00:00,193A666BBC290075BB8E78672D0153A6,175968,161,False,1569911252,218A62BB3B0650FBFC37DC7E4B4A4634,379,4867,False,2016-11-07 14:21:02,False,NaT,2021-02-24 23:33:22,NaT,2021-02-24 23:33:22
10,"[101, 100, 10055, 216, 11937, 15752, 111795, 2...",NaN,C06143FAFA6D7BDC115F4938C8FCC924,NaN,NaN,NaN,Quote,E7F038DE3EAD397AEC9193686C911677,2021-02-24 23:00:00,DB8F08C6F279D497D28C162DB9D318CA,193,382,False,1366986535,66EF45E9D5C5CCF258A43E6E086D4062,1086,1011,False,2019-06-19 00:55:56,True,NaT,NaT,NaT,NaT
11,"[101, 100, 100, 8028, 7450, 2558, 10059, 3911,...","[005DB11FE48FD9FCE48F8D058E18DBBE, 88A2A65C528...",DFB95B180306A714B20C46B99D450821,[Photo],NaN,NaN,TopLevel,E7F038DE3EAD397AEC9193686C911677,2021-02-24 23:00:00,9C2FE03D0A6ED3877ED38F9F9C6A643D,11005,42,False,1492662527,1277F1F03FF7B4C7ABB9BB81719202D4,4,180,False,2017-08-02 18:42:02,False,NaT,NaT,NaT,NaT
12,"[101, 100, 100, 8028, 7450, 2558, 10059, 3911,...","[005DB11FE48FD9FCE48F8D058E18DBBE, 88A2A65C528...",DFB95B180306A714B20C46B99D450821,[Photo],NaN,NaN,TopLevel,E7F038DE3EAD397AEC9193686C911677,2021-02-24 23:00:00,9C2FE03D0A6ED3877ED38F9F9C6A643D,11005,42,False,1492662527,3B917EC783290CDD0A027A0513212C22,45,218,False,2020-02-11 09:24:11,False,NaT,NaT,NaT,NaT
13,"[101, 100, 100, 8028, 7450, 2558, 10059, 3911,...","[005DB11FE48FD9FCE48F8D058E18DBBE, 88A2A65C528...",DFB95B180306A714B20C46B99D450821,[Photo],NaN,NaN,TopLevel,E7F038DE3EAD397AEC9193686C911677,2021-02-24 23:00:00,9C2FE03D0A6ED3877ED38F9F9C6A643D,11005,42,False,1492662527,45335998EF578665A53DEA3413BBD3EE,19,27,False,2017-05-04 11:20:18,False,NaT,NaT,NaT,2021-02-24 23:22:50
14,"[101, 100, 100, 8028, 7450, 2558, 10059, 3911,...","[005DB11FE48FD9FCE48F8D058E18DBBE, 88A2A65C528...",DFB95B180306A714B20C46B99D450821,[Photo],NaN,NaN,TopLevel,E7F038DE3EAD397AEC9193686C911677,2021-02-24 23:00:00,9C2FE03D0A6ED3877ED38F9F9C6A643D,11005,42,False,1492662527,7D8A6E95C2C175399602AB6C3037D5BF,66,237,False,2014-05-20 12:31:07,False,NaT,2021-02-24 23:26:05,NaT,2021-02-24 23:26:05
15,"[101, 100, 100, 8028, 7450, 2558, 10059, 3911,...","[005DB11FE48FD9FCE48F8D058E18DBBE, 88A2A65C528...",DFB95B180306A714B20C46B99D450821,[Photo],NaN,NaN,TopLevel,E7F038DE3EAD397AEC9193686C911677,2021-02-24 23:00:00,9C2FE03D0A6ED3877ED38F9F9C6A643D,11005,42,False,1492662527,CA85F8A1432E99CEBBB9F4437B28AA54,0,28,False,2020-05-26 10:47:04,False,NaT,NaT,NaT,NaT
16,"[101, 100, 100, 8028, 7450, 2558, 10059, 3911,...","[005DB11FE48FD9FCE48F8D058E18DBBE, 88A2A65C528...",DFB95B180306A714B20C46B99D450821,[Photo],NaN,NaN,TopLevel,E7F038DE3EAD397AEC9193686C911677,2021-02-24 23:00:00,9C2FE03D0A6ED3877ED38F9F9C6A643D,11005,42,False,1492662527,F240450A9B63F7C697DBA69E0D18A251,19,120,False,2019-08-25 10:36:57,False,NaT,NaT,NaT,2021-02-24 23:14:19
17,"[101, 100, 10125, 24301, 12013, 10104, 45876, ...","[8A338EB0D4381BB721B2C8582A263EE2, B5D8897F3BC...",4684A5B2EC909E7D94267A7AB582AA0C,"[Photo, Photo, Photo, Photo]",NaN,NaN,TopLevel,B0FA488F2911701DD8EC5B1EA5E322D8,2021-02-24 23:00:00,68CEFFDCC9A1F0F243D5D8B394713AC5,611494,2874,True,1276131557,167007C5E96D3CE2D1C3432873156026,501448,95,False,2010-08-19 14:51:39,True,NaT,2021-02-24 23:00:39,NaT,NaT
18,"[101, 100, 10125, 24301, 12013, 10104, 45876, ...","[8A338EB0D4381BB721B2C8582A263EE2, B5D8897F3BC...",4684A5B2EC909E7D94267A7AB582AA0C,"[Photo, Photo, Photo, Photo]",NaN,NaN,TopLevel,B0FA488F2911701DD8EC5B1EA5E322D8,2021-02-24 23:00:00,68CEFFDCC9A1F0F243D5D8B394713AC5,611494,2874,True,1276131557,4A088297CDE541DD61EF4DC8E874C60A,22,355,False,2019-01-14 00:56:13,True,NaT,NaT,NaT,2021-02-24 23:07:25
19,"[101, 100, 10125, 24301, 12013, 10104, 45876, ...","[8A338EB0D4381BB721B2C8582A263EE2, B5D8897F3BC...",4684A5B2EC909E7D94267A7AB582AA0C,"[Photo, Photo, Photo, Photo]",NaN,NaN,TopLevel,B0FA488F2911701DD8EC5B1EA5E322D8,2021-02-24 23:00:00,68CEFFDCC9A1F0F243D5D8B394713AC5,611494,2874,True,1276131557,5A965E8E3AD7505B8398BBDACBF6477A,394,203,False,2016-08-13 14:48:23,False,NaT,NaT,NaT,2021-02-24 23:49:11
20,"[101, 100, 10190, 10109, 23821, 10104, 20290, ...",NaN,4B3937ED6F4F26E61914BA282E1FB509,[Photo],[7194CE5CA30114C4A49854BD02A67349],[9EFF000CDB18B710CDDB43EE1D8C300B],TopLevel,B0FA488F2911701DD8EC5B1EA5E322D8,2021-02-24 23:00:00,8B3910EFDE2E79DC80199FFEE21A239F,1972400,221970,True,1170861734,7A4AADFBF8BAEE8874F05E5CEA149B4E,23,71,False,2017-11-07 03:17:04,False,2021-02-24 23:07:07,NaT,NaT,NaT
21,"[101, 100, 102]",NaN,AB95C3F47B899D27996898FC7DE15C23,NaN,NaN,NaN,Quote,313ECD3A1E5BB07406E4249475C2D6D6,2021-02-24 23:00:00,4D1E3C5ACCB58A7D37FD8CE08B8A0601,313,274,False,1565647777,0495E0325FE92B4D5635C3518BEDB2C9,439,500,False,2019-11-11 18:12:29,True,NaT,NaT,NaT,NaT
22,"[101, 100, 107, 69202, 107, 113, 10446, 118, 3...",[ADD046CBE0772A82F1360DB9E65A380C],70FA489FEA0D824E6B39AB96BF16A903,[Photo],NaN,NaN,TopLevel,488B32D24BD4BB44172EB981C1BCA6FA,2021-02-24 23:00:00,EC17A408CA6FCBFEFF3AC2267F0E66A5,1454,1116,True,1460662973,A6057F6F8412EC0CEC96B4803E6558B6,244,1411,False,2016-03-22 17:23:35,False,NaT,NaT,NaT,NaT
23,"[101, 100, 107779, 12900, 137, 84707, 42108, 1...","[EF17B50979395D0D299E5349922B032C, 21991C5CCC9...",03B3458017EDF646D44BE14D9D3BC461,[Photo],[ADEB5DB65B0768B07CE8D057A88F11BA],[9EFF000CDB18B710CDDB43EE1D8C300B],TopLevel,B8B04128918BBF54E2E178BFF1ABA833,2021-02-24 23:00:00,A397634CB9484E95AEFD59438C9D20C2,1147,50,False,1526667839,5C0659FBE930E8275AD5D4DF6C0E084F,55,104,False,2019-05-04 15:59:26,False,NaT,NaT,NaT,NaT
24,"[101, 100, 108, 10159, 11779, 20129, 11490, 10...",[AD264C314683428834F12A9FB66341BD],ED7CEC4228CAE723FBEB31CDF524CA55,[Video],NaN,NaN,TopLevel,B0FA488F2911701DD8EC5B1EA5E322D8,2021-02-24 23:00:00,5A38357D649427FD67C3E867AFE7AD21,49760,507,False,1585196685,CDF51BC421CF4089F67C56BC668DB177,38,108,False,2012-08-15 05:54:02,False,NaT,2021-02-24 23:00:59,NaT,2021-02-24 23:00:59
25,"[101, 100, 108, 10850, 14652, 10415, 110214, 1...",[C4AB4394BB23E4B75D8626BC7D4C8C98],BF7EF5C583EF06B85169975C898EBE86,"[Photo, Photo]",[E35A8271557B1D1EF2CF0168DA9E6A68],[9EFF000CDB18B710CDDB43EE1D8C300B],TopLevel,B0FA488F2911701DD8EC5B1EA5E322D8,2021-02-24 23:00:00,9B2E0F706D2190267F8F4E6FF2909ED7,14796,1429,True,1223036873,92B5F8D80B78EE13FAC6CF88AC45695B,82,72,False,2012-01-28 08:55:32,False,NaT,NaT,NaT,NaT
26,"[101, 100, 108, 39774, 50655, 51036, 108, 9746...","[DE5BC1228A77FDB285945C3A47E622A6, 6600C09C6EE...",486757C39BF7CF6016CCDC5C1919FF8B,"[Photo, Photo]",NaN,NaN,TopLevel,488B32D24BD4BB44172EB981C1BCA6FA,2021-02-24 23:00:00,5EB948F162D4ED38E9859D27813AC0E0,5976,82,False,1591267483,9C6841B85A13876E252EBFA627274205,18,517,False,2020-04-22 03:05:10,False,NaT,NaT,NaT,2021-02-24 23:45:59
27,"[101, 100, 11149, 100, 187, 10464, 10108, 1267...",[CE1200F2E17699595D3D57382ED42367],821B5D4A98CF158C3F14B1BD76E269D4,NaN,[9174FFB6AED4816B5380FD86B0F0E184],[1F525F368D1F6B785055626CE7DB6DBC],TopLevel,488B32D24BD4BB44172EB981C1BCA6FA,2021-02-24 23:00:00,9415F6B5A4EF29D54C8BB597B1156164,22688,1701,False,1535931595,18194371682AC9F07DDD357776EE11A7,105,221,False,2018-09-16 21:17:10,False,NaT,NaT,NaT,NaT
28,"[101, 100, 11149, 100, 187, 10464, 10108, 1267...",[CE1200F2E17699595D3D57382ED42367],821B5D4A98CF158C3F14B1BD76E269D4,NaN,[9174FFB6AED4816B5380FD86B0F0E184],[1F525F368D1F6B785055626CE7DB6DBC],TopLevel,488B32D24BD4BB44172EB981C1BCA6FA,2021-02-24 23:00:00,9415F6B5A4EF29D54C8BB597B1156164,22688,1701,False,1535931595,4C11ABD651E573FCBA5B1E32072081B5,16,59,False,2020-09-11 23:16:35,False,NaT,NaT,NaT,NaT
29,"[101, 100, 11149, 100, 187, 10464, 10108, 1267...",[CE1200F2E17699595D3D57382ED42367],821B5D4A98CF158C3F14B1BD76E269D4,NaN,[9174FFB6AED4816B5380FD86B0F0E184],[1F525F368D1F6B785055626CE7DB6DBC],TopLevel,488B32D24BD4BB44172EB981C1BCA6FA,2021-02-24 23:00:00,9415F6B5A4EF29D54C8BB597B1156164,22688,1701,False,1535931595,581980065ACBD23CA37C3156C178DBA0,42,273,False,2017-04-19 22:29:16,False,NaT,NaT,NaT,NaT
30,"[101, 100, 11149, 100, 187, 10464, 10108, 1267...",[CE1200F2E17699595D3D57382ED42367],821B5D4A98CF158C3F14B1BD76E269D4,NaN,[9174FFB6AED4816B5380FD86B0F0E184],[1F525F368D1F6B785055626CE7DB6DBC],TopLevel,488B32D24BD4BB44172EB981C1BCA6FA,2021-02-24 23:00:00,9415F6B5A4EF29D54C8BB597B1156164,22688,1701,False,1535931595,64F82C70D17319B4D43F2725DA27B783,208,531,False,2010-08-29 13:47:16,False,NaT,NaT,NaT,NaT
31,"[101, 100, 11149, 100, 187, 10464, 10108, 1267...",[CE1200F2E17699595D3D57382ED42367],821B5D4A98CF158C3F14B1BD76E269D4,NaN,[9174FFB6AED4816B5380FD86B0F0E184],[1F525F368D1F6B785055626CE7DB6DBC],TopLevel,488B32D24BD4BB44172EB981C1BCA6FA,2021-02-24 23:00:00,9415F6B5A4EF29D54C8BB597B1156164,22688,1701,False,1535931595,DEB026C5ED654C06A7C4B54898E186F9,91,452,False,2020-05-13 19:26:45,False,NaT,NaT,NaT,NaT
32,"[101, 100, 11149, 100, 187, 10464, 10108, 1267...",[CE1200F2E17699595D3D57382ED42367],821B5D4A98CF158C3F14B1BD76E269D4,NaN,[9174FFB6AED4816B5380FD86B0F0E184],[1F525F368D1F6B785055626CE7DB6DBC],TopLevel,488B32D24BD4BB44172EB981C1BCA6FA,2021-02-24 23:00:00,9415F6B5A4EF29D54C8BB597B1156164,22688,1701,False,1535931595,F466EE62609273208EEFD813FF064D15,60,165,False,2016-12-05 03:05:58,False,NaT,NaT,NaT,NaT
33,"[101, 100, 113, 108, 2006, 18872, 24532, 114, ...","[F4BF39A40168912A9F967EA0B837D547, 1D4BB3F11F2...",0195E193FB3865120F97DE561EACFD44,[Photo],"[6292846828FB25803FE6D1081AEB78B1, 9F73180E2B3...","[9EFF000CDB18B710CDDB43EE1D8C300B, 5B43996A482...",TopLevel,E7F038DE3EAD397AEC9193686C911677,2021-02-24 23:00:00,D80218D3B0C59D45539D0A9A3BCF4A39,30566,497,False,1591001807,009BB83DD910B2936E9751555B77DCC5,225,1416,False,2020-07-24 16:17:42,False,NaT,NaT,NaT,NaT
34,"[101, 100, 113, 108, 2006, 18872, 24532, 114, ...","[F4BF39A40168912A9F967EA0B837D547, 1D4BB3F11F2...",0195E193FB3865120F97DE561EACFD44,[Photo],"[6292846828FB25803FE6D1081AEB78B1, 9F73180E2B3...","[9EFF000CDB18B710CDDB43EE1D8C300B, 5B43996A482...",TopLevel,E7F038DE3EAD397AEC9193686C911677,2021-02-24 23:00:00,D80218D3B0C59D45539D0A9A3BCF4A39,30566,497,False,1591001807,1F2B43618DF84C68F6041937194EEE27,82,264,False,2018-08-27 00:24:16,False,NaT,NaT,NaT,NaT
35,"[101, 100, 113, 108, 2006, 18872, 24532, 114, ...","[F4BF39A40168912A9F967EA0B837D547, 1D4BB3F11F2...",0195E193FB3865120F97DE561EACFD44,[Photo],"[6292846828FB25803FE6D1081AEB78B1, 9F73180E2B3...","[9EFF000CDB18B710CDDB43EE1D8C300B, 5B43996A482...",TopLevel,E7F038DE3EAD397AEC9193686C911677,2021-02-24 23:00:00,D80218D3B0C59D45539D0A9A3BCF4A39,30566,497,False,1591001807,30B728A47289000694D0F3B730A640A1,349,424,False,2014-05-18 07:57:21,False,NaT,NaT,NaT,NaT
36,"[101, 100, 113, 108, 2006, 18872, 24532, 114, ...","[F4BF39A40168912A9F967EA0B837D547, 1D4BB3F11F2...",0195E193FB3865120F97DE561EACFD44,[Photo],"[6292846828FB25803FE6D1081AEB78B1, 9F73180E2B3...","[9EFF000CDB18B710CDDB43EE1D8C300B, 5B43996A482...",TopLevel,E7F038DE3EAD397AEC9193686C911677,2021-02-24 23:00:00,D80218D3B0C59D45539D0A9A3BCF4A39,30566,497,False,1591001807,681C0C003844E173B2654AE874E1ECA0,121,240,False,2014-11-13 18:17:18,False,NaT,NaT,NaT,NaT
37,"[101, 100, 113, 108, 2006, 18872, 24532, 114, ...","[F4BF39A40168912A9F967EA0B837D547, 1D4BB3F11F2...",0195E193FB3865120F97DE561EACFD44,[Photo],"[6292846828FB25803FE6D1081AEB78B1, 9F73180E2B3...","[9EFF000CDB18B710CDDB43EE1D8C300B, 5B43996A482...",TopLevel,E7F038DE3EAD397AEC9193686C911677,2021-02-24 23:00:00,D80218D3B0C59D45539D0A9A3BCF4A39,30566,497,False,1591001807,7CB6FA83E49B33A879D0DA6FA4DDCAF8,208,2806,False,2014-09-06 07:45:16,False,NaT,NaT,NaT,NaT
38,"[101, 100, 113, 108, 2006, 18872, 24532, 114, ...","[F4BF39A40168912A9F967EA0B837D547, 1D4BB3F11F2...",0195E193FB3865120F97DE561EACFD44,[Photo],"[6292846828FB25803FE6D1081AEB78B1, 9F73180E2B3...","[9EFF000CDB18B710CDDB43EE1D8C300B, 5B43996A482...",TopLevel,E7F038DE3EAD397AEC9193686C911677,2021-02-24 23:00:00,D80218D3B0C59D45539D0A9A3BCF4A39,30566,497,False,1591001807,88B4389EB8E4B019E33EBC6C6A942F85,30,53,False,2020-06-07 11:06:25,False,NaT,NaT,NaT,NaT
39,"[101, 100, 113, 108, 2006, 18872, 24532, 114, ...","[F4BF39A40168912A9F967EA0B837D547, 1D4BB3F11F2...",0195E193FB3865120F97DE561EACFD44,[Photo],"[6292846828FB25803FE6D1081AEB78B1, 9F73180E2B3...","[9EFF000CDB18B710CDDB43EE1D8C300B, 5B43996A482...",TopLevel,E7F038DE3EAD397AEC9193686C911677,2021-02-24 23:00:00,D80218D3B0C59D45539D0A9A3BCF4A39,30566,497,False,1591001807,BB5A750E3973FF5E831A8E271EF5CB61,215,1138,False,2020-06-23 09:36:54,False,NaT,NaT,NaT,NaT
40,"[101, 100, 118, 118, 118, 118, 118, 118, 118, ...",NaN,EE1E2CA21AE7962220918C9D349C7A2A,NaN,NaN,NaN,TopLevel,313ECD3A1E5BB07406E4249475C2D6D6,2021-02-24 23:00:00,796731D0DF96103FA66675141A2E1CD6,264243,15,False,1266985501,095D20CD42C127B5EF1A08D10D8CABB0,768,884,False,2012-11-05 05:23:02,False,NaT,NaT,NaT,2021-02-24 23:01:58
41,"[101, 100, 119, 119, 119, 105443, 99380, 12820...","[FC1CA697FA8DD36E362BEF45C18EB69E, 90344B0F83B...",108468855AE5CDCB208F25123E393484,[Photo],NaN,NaN,TopLevel,488B32D24BD4BB44172EB981C1BCA6FA,2021-02-24 23:00:00,A9D4A7AC6A42E10EDBDED665FB252474,512,1440,False,1552740992,12177F7563407DD6556986C4474DB086,141,466,False,2020-10-13 18:30:17,True,NaT,NaT,NaT,2021-02-24 23:01:53
42,"[101, 100, 119, 119, 119, 105443, 99380, 12820...","[FC1CA697FA8DD36E362BEF45C18EB69E, 90344B0F83B...",108468855AE5CDCB208F25123E393484,[Photo],NaN,NaN,TopLevel,488B32D24BD4BB44172EB981C1BCA6FA,2021-02-24 23:00:00,A9D4A7AC6A42E10EDBDED665FB252474,512,1440,False,1552740992,276A47C6E9E53C4D5E1BD3F1A6C418A9,174,310,False,2017-10-20 22:37:48,True,NaT,NaT,NaT,2021-02-24 23:24:26
43,"[101, 100, 12865, 50918, 10112, 13028, 10142, ...",NaN,04B7C7744E1A531EED5C2ECFAC311F58,NaN,[20CDBA2FD8060FDFF0A595897960198C],[8DFB1F5A65091CA45888932E8B6D7958],TopLevel,488B32D24BD4BB44172EB981C1BCA6FA,2021-02-24 23:00:00,063DF403460E8D88D63DBADC7FAFF2D3,3589,628,False,1406067558,A16A927B72912BE11BB12B9892C8EA6F,505,256,False,2012-04-12 19:54:43,False,NaT,NaT,NaT,NaT
44,"[101, 100, 13666, 263, 169, 16077, 24850, 1022...","[B00E3681F8B9172CF993E51CFD0A9DD8, 0E796E96B27...",3215CCE0D8B070F3600BE9F84728BD14,[Photo],[47AF30DD2C1C576F29039B061E44142B],[9EFF000CDB18B710CDDB43EE1D8C300B],TopLevel,B8B04128918BBF54E2E178BFF1ABA833,2021-02-24 23:00:00,346990CB288D0F76ABD4500C6F52FFDB,580956,863,True,1244745348,0158932D4AA4FF10FD8267F82EF7BD02,820,1249,False,2011-05-13 14:23:38,False,NaT,NaT,NaT,NaT
45,"[101, 100, 13666, 263, 169, 16077, 24850, 1022...","[B00E3681F8B9172CF993E51CFD0A9DD8, 0E796E96B27...",3215CCE0D8B070F3600BE9F84728BD14,[Photo],[47AF30DD2C1C576F29039B061E44142B],[9EFF000CDB18B710CDDB43EE1D8C300B],TopLevel,B8B04128918BBF54E2E178BFF1ABA833,2021-02-24 23:00:00,346990CB288D0F76ABD4500C6F52FFDB,580956,863,True,1244745348,1E190FA5990C8C865E4C7134EF789A79,393,397,False,2019-08-01 17:30:32,False,NaT,NaT,NaT,NaT
46,"[101, 100, 13666, 263, 169, 16077, 24850, 1022...","[B00E3681F8B9172CF993E51CFD0A9DD8, 0E796E96B27...",3215CCE0D8B070F3600BE9F84728BD14,[Photo],[47AF30DD2C1C576F29039B061E44142B],[9EFF000CDB18B710CDDB43EE1D8C300B],TopLevel,B8B04128918BBF54E2E178BFF1ABA833,2021-02-24 23:00:00,346990CB288D0F76ABD4500C6F52FFDB,580956,863,True,1244745348,385FEE85EFE4C8BEBED2EB9412D45CBF,7,153,False,2018-05-08 05:07:29,False,NaT,NaT,NaT,NaT
47,"[101, 100, 13666, 263, 169, 16077, 24850, 1022...","[B00E3681F8B9172CF993E51CFD0A9DD8, 0E796E96B27...",3215CCE0D8B070F3600BE9F84728BD14,[Photo],[47AF30DD2C1C576F29039B061E44142B],[9EFF000CDB18B710CDDB43EE1D8C300B],TopLevel,B8B04128918BBF54E2E178BFF1ABA833,2021-02-24 23:00:00,346990CB288D0F76ABD4500C6F52FFDB,580956,863,True,1244745348,3FE8AE189AD2BC9C5F9B20723354D754,1043,1002,False,2011-06-21 00:17:38,False,NaT,NaT,NaT,NaT
48,"[101, 100, 13666, 263, 169, 16077, 24850, 1022...","[B00E3681F8B9172CF993E51CFD0A9DD8, 0E796E96B27...",3215CCE0D8B070F3600BE9F84728BD14,[Photo],[47AF30DD2C1C576F29039B061E44142B],[9EFF000CDB18B710CDDB43EE1D8C300B],TopLevel,B8B04128918BBF54E2E178BFF1ABA833,2021-02-24 23:00:00,346990CB288D0F76ABD4500C6F52FFDB,580956,863,True,1244745348,463ED0FA95E35A21765C72ABC17F214C,2488,3177,False,2011-06-05 23:01:00,False,NaT,NaT,NaT,NaT

### Splitting dataset into train and test
 Splitting the training set - one hour into train and test data. The training dataset is used for model training and the test dataset for testing the trained model

In [20]:
from sklearn.model_selection import train_test_split


train_data, test_data = train_test_split(data, test_size= 0.20, random_state=42)

In [21]:
train_data.head()

,text_tokens,hashtags,tweet_id,present_media,present_links,present_domains,tweet_type,language,tweet_timestamp,engaged_with_user_id,engaged_with_user_follower_count,engaged_with_user_following_count,engaged_with_user_is_verified,engaged_with_user_account_creation,engaging_user_id,enaging_user_follower_count,enaging_user_following_count,enaging_user_is_verified,enaging_user_account_creation,engagee_follows_engager,reply_timestamp,retweet_timestamp,retweet_with_comment_timestamp,like_timestamp
4227,"[101, 164, 100, 166, 108, 9920, 22695, 118639,...","[6AFBC2EA7EA420238782D7171B8DB196, 8770FD4809F...",8F42712998B2B3478CECE7F563745217,NaN,[AA360FF141A5AD9C94E7D11F32ADD5CF],[BAED74433A3AC529FBEDC13AEA9ABB9F],TopLevel,8729EBF694C3DAF61208A209C2A542C8,2021-02-24 23:00:00,8E4072EA3A231189B04F9533B703E427,1080773,5,True,1455331389,B4168346F4A5F98F16172CAEA3F72F26,1,27,False,2020-10-14 04:00:01,False,NaT,NaT,NaT,2021-02-24 23:46:29
4676,"[101, 19561, 78582, 10173, 59908, 10129, 10427...",[08C8AC8E3182B4449459D07C1E0CB10F],B9F0FC7AB8CAE5309E98AA25F77EEE50,"[Photo, Photo]",[DA728503CD26B06E8ADD6689EEF16A84],[9EFF000CDB18B710CDDB43EE1D8C300B],TopLevel,B8B04128918BBF54E2E178BFF1ABA833,2021-02-24 23:00:00,5BA4C626FF96609F2F90D0DA2ACF0CE1,493300,49,True,1235937074,82572C96C521E52C08779796EA626AA1,868,1647,False,2012-12-21 17:34:28,False,NaT,NaT,NaT,NaT
800,"[101, 10067, 216, 4476, 4348, 1904, 51143, 203...","[D1139501BFB8AFE20E2FEFFDB04E92BD, 978B0C262F5...",0397E6D2EB9382DC320FDA29E84F1B99,[Photo],[09DA8D06C2B901EEFA4BAAB3F9314615],[9EFF000CDB18B710CDDB43EE1D8C300B],TopLevel,E7F038DE3EAD397AEC9193686C911677,2021-02-24 23:00:00,8410955CFC9F8F5FE3E64178F95C6A52,5556387,186813,True,1261912560,67C688AC9C5E2FCFCEA1C73D1C6B83C6,14,296,False,2020-05-25 03:52:44,False,NaT,NaT,NaT,NaT
3671,"[101, 14120, 131, 120, 120, 188, 119, 11170, 1...",NaN,6A1C4EE4108877F6BCD87D5BD2D8AF26,[Photo],NaN,NaN,TopLevel,313ECD3A1E5BB07406E4249475C2D6D6,2021-02-24 23:00:00,DE7E95F71B692820B41582854C6D26D9,132396,85404,False,1287557702,C50501518A319B6374C8562FC1805DBE,560,913,False,2011-07-25 18:21:31,True,NaT,NaT,NaT,NaT
4193,"[101, 164, 100, 166, 108, 9920, 22695, 118639,...","[6AFBC2EA7EA420238782D7171B8DB196, 8770FD4809F...",8F42712998B2B3478CECE7F563745217,NaN,[AA360FF141A5AD9C94E7D11F32ADD5CF],[BAED74433A3AC529FBEDC13AEA9ABB9F],TopLevel,8729EBF694C3DAF61208A209C2A542C8,2021-02-24 23:00:00,8E4072EA3A231189B04F9533B703E427,1080773,5,True,1455331389,6DA04CF150C456CFA2AC1B5AB9E36206,43,837,False,2017-06-16 14:59:24,False,NaT,NaT,NaT,NaT

In [22]:
test_data.head()

,text_tokens,hashtags,tweet_id,present_media,present_links,present_domains,tweet_type,language,tweet_timestamp,engaged_with_user_id,engaged_with_user_follower_count,engaged_with_user_following_count,engaged_with_user_is_verified,engaged_with_user_account_creation,engaging_user_id,enaging_user_follower_count,enaging_user_following_count,enaging_user_is_verified,enaging_user_account_creation,engagee_follows_engager,reply_timestamp,retweet_timestamp,retweet_with_comment_timestamp,like_timestamp
1501,"[101, 100, 67267, 10954, 9487, 70122, 10954, 9...","[E8BF28DB9E35E11F583385EDEB987D32, E8BF28DB9E3...",DCEF6C06DDE77C2DBE7F0BE99B95120A,[Video],NaN,NaN,TopLevel,8729EBF694C3DAF61208A209C2A542C8,2021-02-24 23:00:00,803A7C3606AD920145B31C31171B7715,644319,0,True,1467980494,9A594A6456C8BBD7AAB050760D699FFB,38,358,False,2019-05-20 11:16:42,False,NaT,NaT,NaT,NaT
2586,"[101, 108, 3173, 2419, 1940, 3192, 1904, 89052...","[3B46DE7489E20CDA664914EF9433BA34, ED25F9630C9...",E4154938E6B3A6568E36D016C131F134,NaN,"[020C3CB279E7F5D0C893ECC9703A6994, 3B2A6141900...","[486DE623F8A0527422E6A69147D20C48, 486DE623F8A...",TopLevel,E7F038DE3EAD397AEC9193686C911677,2021-02-24 23:00:00,D0C822B578634E48F9B810B24B717B8D,161493,48,True,1581130623,D09D84B41D8B9F882F211BD879C0AC51,0,39,False,2020-06-23 09:14:22,False,NaT,NaT,NaT,NaT
2653,"[101, 108, 60844, 18749, 15346, 37408, 40218, ...",[21490D601842DDD6FF638F6FCD0525F8],58D87EB41D1B57BDBE6D7B1B4B71A116,NaN,[0D9E445DDECB3705F2DC6E46BB9DE79A],[403B1EE3CF4C38844B00DEA0B610E274],TopLevel,9A78FC330083E72BE0DD1EA92656F3B5,2021-02-24 23:00:00,0012CE19CDFC95AD77327BD0987A6AD0,385046,410,True,1332423674,C84F53B674ED742113B8734EBEEB2A78,48,262,False,2020-05-17 19:01:11,False,NaT,NaT,NaT,NaT
1055,"[101, 10067, 216, 4476, 4348, 1904, 51143, 203...","[D1139501BFB8AFE20E2FEFFDB04E92BD, 978B0C262F5...",0397E6D2EB9382DC320FDA29E84F1B99,[Photo],[09DA8D06C2B901EEFA4BAAB3F9314615],[9EFF000CDB18B710CDDB43EE1D8C300B],TopLevel,E7F038DE3EAD397AEC9193686C911677,2021-02-24 23:00:00,8410955CFC9F8F5FE3E64178F95C6A52,5556387,186813,True,1261912560,B5F3449E189E24D9CA6F9BA1B412B3C6,22,145,False,2018-08-03 07:07:45,False,NaT,NaT,NaT,NaT
705,"[101, 10067, 216, 4476, 4348, 1904, 51143, 203...","[D1139501BFB8AFE20E2FEFFDB04E92BD, 978B0C262F5...",0397E6D2EB9382DC320FDA29E84F1B99,[Photo],[09DA8D06C2B901EEFA4BAAB3F9314615],[9EFF000CDB18B710CDDB43EE1D8C300B],TopLevel,E7F038DE3EAD397AEC9193686C911677,2021-02-24 23:00:00,8410955CFC9F8F5FE3E64178F95C6A52,5556387,186813,True,1261912560,497968B2C32F7C99C1ED7EE7865B6DDA,281,342,False,2014-03-15 04:54:22,False,NaT,NaT,NaT,NaT

### Evaluation

In [23]:
def true_timestamp(t):
    return int(not pd.isnull(t))

def labels(j):
    to_copy = test_data.copy()
    to_copy['labed'] = to_copy.apply(lambda row: true_timestamp(row[j]), axis=1)
    return to_copy[['tweet_id', 'engaging_user_id', 'labed']]

def read_predictions(file):
    filename = os.path.basename(file)
    #print(filename)     
    if (filename.startswith('gt')):
        to_sort = pd.read_csv(file, names=['tweet_id', 'engaging_user_id', 'labed'], header=0)
        sort = to_sort.sort_values(['tweet_id', 'engaging_user_id', 'labed'])
    elif (filename.startswith('pred')):
        to_sort = pd.read_csv(file, names=['tweet_id', 'engaging_user_id', 'prediction'], header=0)
        sort = to_sort.sort_values(['tweet_id', 'engaging_user_id', 'prediction'])
    return sort


#ground truth for retweet
gt_retweet = labels('retweet_timestamp')
gt_retweet.to_csv('gt_retweet.csv')
print(read_predictions('gt_retweet.csv')[:10])

#ground truth for reply
gt_reply = labels('reply_timestamp')
gt_reply.to_csv('gt_reply.csv')
print(read_predictions('gt_reply.csv')[:10])

#ground truth for like
gt_like = labels('like_timestamp')
gt_like.to_csv('gt_like.csv')
print(read_predictions('gt_like.csv')[:10])

#ground truth for retweet with comment
gt_rc = labels('retweet_with_comment_timestamp')
gt_rc.to_csv('gt_rc.csv')
print(read_predictions('gt_rc.csv')[:10])

                              tweet_id                  engaging_user_id  \
2164  00F23FACF2C4F78E32E86C0E60971078  CC9AAACEEC69EAC26ED1FE87409C4440
415   0150620EF457986E1DEE422F927800FE  05CDF85F45D64F780E85EDB2ADE92D10
416   0150620EF457986E1DEE422F927800FE  1048E3C6F4F100D78534BF4256EC6B7D
422   0150620EF457986E1DEE422F927800FE  56850B35358D2D80FCE86007F10B90AE
426   0150620EF457986E1DEE422F927800FE  74482542603FB06A170521DEBAB0EB0D
429   0150620EF457986E1DEE422F927800FE  A8BB2C43DECC27082A19AB2D1D3F25E6
438   0150620EF457986E1DEE422F927800FE  F7DF6F89281A2B6F3BACF5233A8679FF
33    0195E193FB3865120F97DE561EACFD44  009BB83DD910B2936E9751555B77DCC5
3725  0313A0E551683BBAEF003AA4B19E354E  28003C54CE16CE96079855EEA77B0DB3
4797  037243024DB46623320369D3381FBB93  A2B44695A0E895AB97AF94BED0150C2D

      labed
2164      0
415       0
416       0
422       0
426       0
429       0
438       0
33        0
3725      0
4797      0
                              tweet_id                  engaging_user_id  \
2164  00F23FACF2C4F78E32E86C0E60971078  CC9AAACEEC69EAC26ED1FE87409C4440
415   0150620EF457986E1DEE422F927800FE  05CDF85F45D64F780E85EDB2ADE92D10
416   0150620EF457986E1DEE422F927800FE  1048E3C6F4F100D78534BF4256EC6B7D
422   0150620EF457986E1DEE422F927800FE  56850B35358D2D80FCE86007F10B90AE
426   0150620EF457986E1DEE422F927800FE  74482542603FB06A170521DEBAB0EB0D
429   0150620EF457986E1DEE422F927800FE  A8BB2C43DECC27082A19AB2D1D3F25E6
438   0150620EF457986E1DEE422F927800FE  F7DF6F89281A2B6F3BACF5233A8679FF
33    0195E193FB3865120F97DE561EACFD44  009BB83DD910B2936E9751555B77DCC5
3725  0313A0E551683BBAEF003AA4B19E354E  28003C54CE16CE96079855EEA77B0DB3
4797  037243024DB46623320369D3381FBB93  A2B44695A0E895AB97AF94BED0150C2D

      labed
2164      0
415       0
416       0
422       0
426       0
429       0
438       0
33        0
3725      0
4797      0
                              tweet_id                  engaging_user_id  \
2164  00F23FACF2C4F78E32E86C0E60971078  CC9AAACEEC69EAC26ED1FE87409C4440
415   0150620EF457986E1DEE422F927800FE  05CDF85F45D64F780E85EDB2ADE92D10
416   0150620EF457986E1DEE422F927800FE  1048E3C6F4F100D78534BF4256EC6B7D
422   0150620EF457986E1DEE422F927800FE  56850B35358D2D80FCE86007F10B90AE
426   0150620EF457986E1DEE422F927800FE  74482542603FB06A170521DEBAB0EB0D
429   0150620EF457986E1DEE422F927800FE  A8BB2C43DECC27082A19AB2D1D3F25E6
438   0150620EF457986E1DEE422F927800FE  F7DF6F89281A2B6F3BACF5233A8679FF
33    0195E193FB3865120F97DE561EACFD44  009BB83DD910B2936E9751555B77DCC5
3725  0313A0E551683BBAEF003AA4B19E354E  28003C54CE16CE96079855EEA77B0DB3
4797  037243024DB46623320369D3381FBB93  A2B44695A0E895AB97AF94BED0150C2D

      labed
2164      0
415       0
416       0
422       0
426       0
429       0
438       1
33        0
3725      0
4797      0
                              tweet_id                  engaging_user_id  \
2164  00F23FACF2C4F78E32E86C0E60971078  CC9AAACEEC69EAC26ED1FE87409C4440
415   0150620EF457986E1DEE422F927800FE  05CDF85F45D64F780E85EDB2ADE92D10
416   0150620EF457986E1DEE422F927800FE  1048E3C6F4F100D78534BF4256EC6B7D
422   0150620EF457986E1DEE422F927800FE  56850B35358D2D80FCE86007F10B90AE
426   0150620EF457986E1DEE422F927800FE  74482542603FB06A170521DEBAB0EB0D
429   0150620EF457986E1DEE422F927800FE  A8BB2C43DECC27082A19AB2D1D3F25E6
438   0150620EF457986E1DEE422F927800FE  F7DF6F89281A2B6F3BACF5233A8679FF
33    0195E193FB3865120F97DE561EACFD44  009BB83DD910B2936E9751555B77DCC5
3725  0313A0E551683BBAEF003AA4B19E354E  28003C54CE16CE96079855EEA77B0DB3
4797  037243024DB46623320369D3381FBB93  A2B44695A0E895AB97AF94BED0150C2D

      labed
2164      0
415       0
416       0
422       0
426       0
429       0
438       0
33        0
3725      0
4797      0

### Create a Ratings Matrix
One ratings matrix for each engagement type

In [24]:
#creating a data frame for the unique tweets and a unique one for the engagement between users
uTID = data['tweet_id'].unique()
uTID.sort()

uUID = data['engaging_user_id'].append(data['engaged_with_user_id']).unique()
uUID.sort()

m = len(uUID)
n = len(uTID)

#creating internal ids for the users and the tweets
userId_to_userIDX = dict(zip(uUID, range(m)))
userIDX_to_userId = dict(zip(range(m), uUID))

tweetId_to_tweetIDX = dict(zip(uTID, range(n)))
tweetIDX_to_tweetId = dict(zip(range(n), uTID))

In [26]:
#creating a dataframe for the upcoming implementation of the ratings matrix 
j = ['tweet_id', 'engaging_user_id', 'reply_timestamp', 'retweet_timestamp',
       'retweet_with_comment_timestamp', 'like_timestamp']

ratings = pd.concat([data['engaging_user_id'].map(userId_to_userIDX),
                  data['tweet_id'].map(tweetId_to_tweetIDX),
                  data['reply_timestamp'].notnull(),
                  data['retweet_timestamp'].notnull(),
                  data['retweet_with_comment_timestamp'].notnull(),
                  data['like_timestamp'].notnull()], axis = 1)

ratings.columns = ['user', 'tweet', 'reply', 'retweet', 'retweet_with_comment', 'like']
ratings.sort_values(['user', 'tweet'], inplace = True)

ratings.head(n = 20)

      user  tweet  reply  retweet  retweet_with_comment   like
3271     1    339  False    False                 False  False
441      2     12  False    False                 False  False
1980     3    530  False    False                 False   True
3555     5    413  False    False                 False  False
105      6    621  False    False                 False  False
1857     7     86  False    False                 False  False
4660    10    508  False    False                 False  False
33      12      7  False    False                 False  False
442     13     12  False    False                 False  False
443     14     12  False    False                 False  False
4103    15    595   True    False                 False  False
444     16     12  False    False                 False   True
3889    17     91  False    False                 False  False
445     18     12  False    False                 False  False
1617    19    324  False    False                 False  False
446     20     12  False    False                 False  False
2096    22    325  False    False                 False  False
4345    23    123  False    False                 False  False
4723    24    598  False    False                 False  False
447     25     12  False    False                 False  False

In [27]:
from scipy import sparse as sp

#creating the ratings matrices

RM_reply = sp.csr_matrix((ratings.reply[ratings.reply], (ratings.user[ratings.reply], ratings.tweet[ratings.reply])), 
            shape=(m, n))

RM_retweet = sp.csr_matrix((ratings.retweet[ratings.retweet], (ratings.user[ratings.retweet], ratings.tweet[ratings.retweet])), 
            shape=(m, n))

RM_retweet_wc = sp.csr_matrix((ratings.retweet_with_comment[ratings.retweet_with_comment], (ratings.user[ratings.retweet_with_comment]             , ratings.tweet[ratings.retweet_with_comment])), shape=(m, n))

RM_like = sp.csr_matrix((ratings.like[ratings.like], (ratings.user[ratings.like], ratings.tweet[ratings.like])), 
            shape=(m, n))

display(RM_reply.shape, RM_reply.count_nonzero())
display(RM_retweet.shape, RM_retweet.count_nonzero())
display(RM_retweet_wc.shape, RM_retweet_wc.count_nonzero())
display(RM_like.shape, RM_like.count_nonzero())

(5680, 707)

41

(5680, 707)

186

(5680, 707)

29

(5680, 707)

830

### User-User Similarity

In [28]:
from scipy.sparse.linalg import norm

def compute_pairwise_user_similarity(u_id, v_id, RM_type):
    u = RM_type[u_id,:].copy()
    v = RM_type[v_id,:].copy()
    
    #cosine similarity formula from the slides based on the vector operations defined above
    numerator = u.dot(v.T).A.item()
    denominator = norm(u)*norm(v)
    
    if denominator == 0:
        similarity = 0.;
    else: 
        similarity = numerator/denominator
    
    return similarity

In [29]:
#testing the function above
display(compute_pairwise_user_similarity(15, 5256, RM_reply))
display(compute_pairwise_user_similarity(5256, 1642, RM_retweet))
display(compute_pairwise_user_similarity(1642, 5422, RM_retweet_wc))
display(compute_pairwise_user_similarity(5422, 15, RM_like))

0.0

0.0

0.0

0.0

### User to all Users Similarity

In [30]:
import numpy as np

def compute_user_similarities(u_id, RM_type):
    uU = np.empty((m,))

    #computing similarities of user u_id with all of the other users
    for v_id in range(m):
        uU[v_id] = compute_pairwise_user_similarity(u_id, v_id, RM_type)
    
    return uU

In [31]:
# Test 
uU = compute_user_similarities(15, RM_reply)
display(uU[1])

uU = compute_user_similarities(5256, RM_retweet)
display(uU[50])

uU = compute_user_similarities(1642, RM_retweet_wc)
display(uU[10])

uU = compute_user_similarities(5422, RM_like)
display(uU[10])

0.0

0.0

0.0

0.0

###  User Neighbourhood

In [33]:
#transforming from sparse matrix to dictionary of keys for easier handling
RM_reply_dok = RM_reply.todok()
RM_retweet_dok = RM_retweet.todok()
RM_retweet_wc_dok = RM_retweet_wc.todok()
RM_like_dok = RM_like.todok()

k = 10

def create_user_neighborhood(u_id, i_id, RM_type, RM_type_dok):
    nh = {} ## the neighborhood dict with (user id: similarity) entries
    ## nh should not contain u_id and only include users that have rated i_id; there should be at most k neighbors
    uU = compute_user_similarities(u_id, RM_type)
    uU_copy = uU.copy() ## so that we can modify it, but also keep the original
    
    sorted_values = np.argsort(uU_copy)[::-1]    
        
   #counter for k neighbours
    ik = 0 
    for i in sorted_values:
        # checking if i gave a rating to item i_id and making sure i is different from itself
        if (i, i_id) in RM_type_dok and i!=u_id:
            nh[i] = uU_copy[i]
            ik+=1
        if ik == k:
            break

    return nh

In [34]:
# Test neighborhood

nh = create_user_neighborhood(15, 595, RM_reply, RM_reply_dok)
display(nh)

nh = create_user_neighborhood(5256, 437, RM_retweet, RM_retweet_dok)
display(nh)

nh = create_user_neighborhood(1642, 27, RM_retweet_wc, RM_retweet_wc_dok)
display(nh)

nh = create_user_neighborhood(5422, 609, RM_like, RM_like_dok)
display(nh)

{}

{3197: 1.0}

{}

{}

Unfortunately most user neighborhoods are empty.

### Predict Ratings

In [35]:
def predict_internal_ids(u_id, i_id, RM_type, RM_type_dok):

    if (u_id, i_id) in RM_type_dok:
        print("user", u_id, "has engaged with item", i_id, "with", RM_type[u_id, i_id])
    else:
        print("user", u_id, "has not engaged with item", i_id)
        print("k:", k)


    nh = create_user_neighborhood(u_id, i_id, RM_type, RM_type_dok)

    neighborhood_weighted_avg = 0.
    numerator = 0.
    denominator = 0.

    for v in nh.items():
        numerator += nh[v] * RM_type[v,i_id]

        denominator += np.absolute(nh[v])


    if denominator == 0:
        neighborhood_weighted_avg = 0.;
    else:
        neighborhood_weighted_avg = numerator/denominator


    prediction = neighborhood_weighted_avg

    return prediction

In [36]:
#test
predict_internal_ids(15, 595, RM_reply, RM_reply_dok)

user 15 has engaged with item 595 with True

0.0

In [38]:
def predict_external_ids(tweet_id, engaging_user_id, RM_type, RM_type_dok):
    print("user", engaging_user_id, "has internal id ", userId_to_userIDX[engaging_user_id])
    print("tweet", tweet_id, "has internal id ", tweetId_to_tweetIDX[tweet_id])
    return predict_internal_ids(userId_to_userIDX[engaging_user_id],tweetId_to_tweetIDX[tweet_id], RM_type, RM_type_dok)

In [42]:
#testing different external ids 

print("Reply")
predict_external_ids("00F23FACF2C4F78E32E86C0E60971078", "CC9AAACEEC69EAC26ED1FE87409C4440", RM_reply, RM_reply_dok)

print("")
print("Retweet")
predict_external_ids("00F23FACF2C4F78E32E86C0E60971078", "CC9AAACEEC69EAC26ED1FE87409C4440", RM_retweet, RM_retweet_dok)

print("")
print("Retweet with Comment")
predict_external_ids("00F23FACF2C4F78E32E86C0E60971078", "CC9AAACEEC69EAC26ED1FE87409C4440", RM_retweet_wc, RM_retweet_wc_dok)

print("")
print("Like")
predict_external_ids("DE1604F4816F6B8BD85A9478AE9D32E9", "F343F23E25FF1D7041E31E0CF4D026AD", RM_like, RM_like_dok)

Reply
user CC9AAACEEC69EAC26ED1FE87409C4440 has internal id  4575
tweet 00F23FACF2C4F78E32E86C0E60971078 has internal id  2
user 4575 has not engaged with item 2
k: 10

Retweet
user CC9AAACEEC69EAC26ED1FE87409C4440 has internal id  4575
tweet 00F23FACF2C4F78E32E86C0E60971078 has internal id  2
user 4575 has not engaged with item 2
k: 10

Retweet with Comment
user CC9AAACEEC69EAC26ED1FE87409C4440 has internal id  4575
tweet 00F23FACF2C4F78E32E86C0E60971078 has internal id  2
user 4575 has not engaged with item 2
k: 10

Like
user F343F23E25FF1D7041E31E0CF4D026AD has internal id  5422
tweet DE1604F4816F6B8BD85A9478AE9D32E9 has internal id  609
user 5422 has engaged with item 609 with True

0.0

## Item-Item Collaborative Filtering
#### Author: Markus Böck

In [ ]:
from model import *

In [ ]:
%%time
iicf = IICF(path_to_data, "one_day")

In [ ]:
import os
import re
import csv
import datetime


def evaluate_test_set(path_to_data, dataset_type):
    expanded_path = os.path.expanduser(path_to_data)
    part_files = [os.path.join(expanded_path, f) for f in os.listdir(expanded_path) if dataset_type in f]
    part_files = sorted(part_files, key = lambda x:x[-5:]) 
        
    i = 0
    with open('results.csv', 'w') as output:
        for file in part_files:
            with open(file, 'r') as f:
                linereader = csv.reader(f, delimiter='\x01')
                last_timestamp = None
                for row in linereader:
                    i += 1
                    tweet_id, user_id, features, follow, tweet_timestamp = iicf.parse_input_features(row) 

                    reply_pred, retweet_pred, quote_pred, fav_pred = iicf.predict(tweet_id, user_id, features, follow)
                    
                    # print(str(tweet_timestamp))
                    # print(str(reply_pred)+" "+str(retweet_pred)+" "+str(quote_pred)+" "+str(fav_pred))
                    
                    output.write(f'{tweet_id},{user_id},{reply_pred},{retweet_pred},{quote_pred},{fav_pred}\n')
                    
                    if i % 1000 == 0:
                        print(f"Predicted {i} rows.", end="\r")

    print(f"Predicted {i} rows.")

In [ ]:
%%time
evaluate_test_set(val_path_to_data, val_dataset_type)

In [ ]:
from sklearn.metrics import average_precision_score, log_loss

def calculate_ctr(gt):
    positive = len([x for x in gt if x == 1])

    ctr = positive/float(len(gt))

    return ctr

def compute_rce(pred, gt):

    cross_entropy = log_loss(gt, pred)

    data_ctr = calculate_ctr(gt)

    strawman_cross_entropy = log_loss(gt, [data_ctr for _ in range(len(gt))])

    return (1.0 - cross_entropy/strawman_cross_entropy)*100.0

In [ ]:
val_expanded_path = os.path.expanduser(val_path_to_data)
val_part_files = [os.path.join(val_expanded_path, f) for f in os.listdir(val_expanded_path) if val_dataset_type in f]
val_part_files = sorted(val_part_files, key = lambda x:x[-5:])
val_part_files
val_data = pd.read_csv(val_part_files[0], delimiter='\x01', header=None, usecols=[2, 14, 20,21,22,23])
val_data.columns = ["tweet_id", "engaging_user_id", 'reply', 'retweet', 'quote', 'like']

val_data.reply = (~val_data.reply.isna()).astype("int")
val_data.retweet = (~val_data.retweet.isna()).astype("int")
val_data.quote = (~val_data.quote.isna()).astype("int")
val_data.like = (~val_data.like.isna()).astype("int")

val_data

In [ ]:
results = pd.read_csv("results.csv", header=None)
results.columns = ["tweet_id", "user_id", "reply", "retweet", "quote", "like"]
results

In [ ]:
print("Reply scores:")
compute_rce(results.reply, val_data.reply), average_precision_score(val_data.reply, results.reply)

In [ ]:
print("Retweet scores:")
compute_rce(results.retweet, val_data.retweet), average_precision_score(val_data.retweet, results.retweet)

In [ ]:
print("Quote scores:")
compute_rce(results.quote, val_data.quote), average_precision_score(val_data.quote, results.quote)

In [ ]:
print("Like scores:")
compute_rce(results.like, val_data.like), average_precision_score(val_data.like, results.like)

In [ ]:
del iicf # free up memory

## Content-Based Recommender
#### Author: Rani Reetu

## Fairness
#### Author: Luiza Corpaci

In [ ]:
def read_predictions_fairness(path):
    pred = pd.read_csv(path, header=None, names=['tweet_id', 'user_id', 'reply', 'retweet', 'quote', 'like'])
    return pred


def read_predictions(path, col):
    pred_col = {"reply": 2, "retweet": 3, "quote": 4, "like": 5}[col]
    pred = pd.read_csv(path, header=None, usecols=[0, 1, pred_col], names=['tweet_id', 'user_id', 'reply', 'retweet', 'quote', 'like'])
    return pred

In [ ]:
def parse_line(row):
    tweet_id = row[all_features_to_idx['tweet_id']]
    user_id = row[all_features_to_idx['engaging_user_id']]
    
#     input_feats = np.zeros((tweet_features.shape[1],),dtype=np.float32)
    
    follower_count= int(row[all_features_to_idx["engaged_with_user_follower_count"]])
    following_count = int(row[all_features_to_idx["engaged_with_user_following_count"]])
    verified = bool(row[all_features_to_idx["engaged_with_user_is_verified"]])
    
    return tweet_id, user_id, follower_count, following_count, verified

In [ ]:
def tweets_data(path, dataset_type):
    expanded_path = os.path.expanduser(path)
    part_files = [os.path.join(expanded_path, f) for f in os.listdir(expanded_path) if dataset_type in f]
    part_files = sorted(part_files, key = lambda x:x[-5:]) 
    
    tweet_groups = pd.DataFrame(columns=['tweet_id', 'user_id', 'follower_count', 'following_count', 'verified'])
    
    for file in part_files:
        with open(file, 'r') as f:
            tweet_ids = get_tweet_ids(file)
            user_ids = get_user_ids(file)
            linereader = csv.reader(f, delimiter='\x01')
            last_timestamp = None
            for i, row in enumerate(linereader):
                tweet_id, user_id, follower_count, following_count, verified = parse_line(row) 
                tweet_id_int = tweet_ids[tweet_id]
                user_id_int = user_ids[user_id]
                dic = {'tweet_id':tweet_id_int, 'user_id':user_id_int,\
                       'follower_count':follower_count, 'following_count':following_count, 'verified':verified}
                tweet_groups = tweet_groups.append(dic, ignore_index=True)
    return tweet_ids, user_ids, tweet_groups


tweet_ids, user_ids, tweet_groups = tweets_data(val_path_to_data, 'one_hour')

In [ ]:
def group_by_followers(df):
    data = df.copy()
    data = data.sort_values(by='follower_count', ascending=False)
    data['group'] = np.zeros((len(data)), dtype=np.int32)
    
    for i in range(0,round(len(data)/5)):
        data.loc[i, 'group'] = 0
        
    for i in range(round(len(data)/5), 2*round(len(data)/5)):
        data.loc[i, 'group'] = 1
        
    for i in range(2*round(len(data)/5), 3*round(len(data)/5)):
        data.loc[i, 'group'] = 2
        
    for i in range(3*round(len(data)/5), 4*round(len(data)/5)):
        data.loc[i, 'group'] = 3
        
    for i in range(4*round(len(data)/5), len(data)):
        data.loc[i, 'group'] = 4
    
    return data

groups = group_by_followers(tweet_groups)

In [ ]:
from sklearn.metrics import average_precision_score, log_loss


ground_truth = read_predictions("gt.csv", 'reply') # will return data in the form (tweet_id, user_id, labed (1 or 0))
predictions = read_predictions("results.csv", 'reply') # will return data in the form (tweet_id, user_id, prediction)

predictions['tweet_id'] = predictions['tweet_id'].map(tweet_ids)
predictions['user_id'] = predictions['user_id'].map(user_ids)
ground_truth['tweet_id'] = ground_truth['tweet_id'].map(tweet_ids)
ground_truth['user_id'] = ground_truth['user_id'].map(user_ids)

predictions = pd.merge(predictions, groups[['user_id', 'group']], how='left', on = 'user_id')
ground_truth = pd.merge(ground_truth, groups[['user_id', 'group']], how='left', on = 'user_id')

In [ ]:
# splitting for groups (this is assuming ground_truth is a csv again)
# also assuming that predictions has class membership. We should sort this out in the least painful way
# predictions has schema (tweet_id, user_id, , group, prediction)

col = 'reply'
pred_col = {"reply": 2, "retweet": 3, "quote": 4, "like": 5}[col]

rce = {}
average_precision = {}
accuracy = {}
for i in range(5):
    group_predictions = [p[pred_col] for p in predictions.values if p[-1] == i]
    group_ground_truth = [p[pred_col] for p in ground_truth.values if p[-1] == i]
    rce[i] = compute_rce(group_predictions, group_ground_truth)
#     average_precision[i] = average_precision_score(np.array(group_predictions), np.array(group_ground_truth))
#     accuracy[i] = np.mean(group_predictions == group_ground_truth)


print('The rces for the groups of popularity:')
for i in range(5):
    print("RCE for group {0}:".format(i), rce[i])
#     print("average_precision:", average_precision[i])
#     print("accuracy:", accuracy[i])

#### zeroR
rce: -621.8494688006682  

#### item item
rce: -233.43933830426766

### Group by user verification

In [ ]:

groups = tweet_groups[['tweet_id', 'user_id', 'verified']]

In [ ]:
ground_truth = read_predictions("gt.csv", 'reply') # will return data in the form (tweet_id, user_id, labed (1 or 0))
predictions = read_predictions("results.csv", 'reply') # will return data in the form (tweet_id, user_id, prediction)

predictions['tweet_id'] = predictions['tweet_id'].map(tweet_ids)
predictions['user_id'] = predictions['user_id'].map(user_ids)
ground_truth['tweet_id'] = ground_truth['tweet_id'].map(tweet_ids)
ground_truth['user_id'] = ground_truth['user_id'].map(user_ids)

predictions = pd.merge(predictions, groups[['user_id', 'verified']], how='left', on = 'user_id')
ground_truth = pd.merge(ground_truth, groups[['user_id', 'verified']], how='left', on = 'user_id')

In [ ]:
# splitting for groups (this is assuming ground_truth is a csv again)
# also assuming that predictions has class membership. We should sort this out in the least painful way
# predictions has schema (tweet_id, user_id, , group, prediction)

col = 'reply'
pred_col = {"reply": 2, "retweet": 3, "quote": 4, "like": 5}[col]

group_predictions_true = [p[pred_col] for p in predictions.values if p[-1] == True]
group_ground_truth_true = [p[pred_col] for p in ground_truth.values if p[-1] == True]
rce_true = compute_rce(group_predictions, group_ground_truth)


group_predictions_false = [p[pred_col] for p in predictions.values if p[-1] == False]
group_ground_truth_false = [p[pred_col] for p in ground_truth.values if p[-1] == False]
rce_false = compute_rce(group_predictions, group_ground_truth)
#     average_precision[i] = average_precision_score(np.array(group_predictions), np.array(group_ground_truth))
#     accuracy[i] = np.mean(group_predictions == group_ground_truth)


print('The rces for the groups of users with verified accounts vs not verified ones:')
print("RCE for verified users:", rce_true)
print("RCE for non-verified users:", rce_false)
#     print("average_precision:", average_precision[i])
#     print("accuracy:", accuracy[i])

In [ ]:
# hidden