# Project

Welcome to the group project! The project is based on the [ACM RecSys 2021 Challenge](https://recsys-twitter.com/).

- Detailed information about the task, submission and grading can be found in a [dedicates site on TUWEL](https://tuwel.tuwien.ac.at/mod/page/view.php?id=1217340).
- Information about the dataset structure [on this site on TUWEL](https://tuwel.tuwien.ac.at/mod/page/view.php?id=1218810).

In [103]:
team_name = "team_15" # your team name e.g. 'team_1'
team_members = [("",""),
                ("","")] # [("Jane Doe","012345678"), ("John Doe","012345678")]

In [138]:
print(team_name)
print(team_members)

team_15
[('', ''), ('', '')]

In [139]:
path_to_data = 'data/project/training/'
dataset_type = 'one_hour' # all_sorted, one_day, one_hour, one_week

In [140]:
try:
    import pandas as pd
except:
    if hasattr(sys, 'real_prefix'):
        #we are in a virtual env.
        !pip install pandas
    else:
        !pip install --user pandas

In [141]:
import os
import re
import csv
import datetime

from model import reply_pred_model, retweet_pred_model, quote_pred_model, fav_pred_model 

all_features = ["text_tokens", "hashtags", "tweet_id", "present_media", "present_links", "present_domains",\
                "tweet_type","language", "tweet_timestamp", "engaged_with_user_id", "engaged_with_user_follower_count",\
               "engaged_with_user_following_count", "engaged_with_user_is_verified", "engaged_with_user_account_creation",\
               "engaging_user_id", "enaging_user_follower_count", "enaging_user_following_count", "enaging_user_is_verified",\
               "enaging_user_account_creation", "engagee_follows_engager", "reply_timestamp", "retweet_timestamp", "retweet_with_comment_timestamp", "like_timestamp"]

all_features_to_idx = dict(zip(all_features, range(len(all_features))))

def parse_input_line(line):
    features = line #.split("\x01")
    tweet_id = features[all_features_to_idx['tweet_id']]
    user_id = features[all_features_to_idx['engaging_user_id']]
    input_feats = features[all_features_to_idx['text_tokens']]
    tweet_timestamp = features[all_features_to_idx['tweet_timestamp']]
    
    return tweet_id, user_id, input_feats, tweet_timestamp



def evaluate_test_set():
    expanded_path = os.path.expanduser(path_to_data)
    part_files = [os.path.join(expanded_path, f) for f in os.listdir(expanded_path) if dataset_type in f]
    part_files = sorted(part_files, key = lambda x:x[-5:]) 
        
    with open('results.csv', 'w') as output:
        for file in part_files:
            with open(file, 'r') as f:
                linereader = csv.reader(f, delimiter='\x01')
                last_timestamp = None
                for row in linereader:
                    tweet_id, user_id, features, tweet_timestamp = parse_input_line(row)                                                           
                    reply_pred = reply_pred_model(features) # reply_model
                    retweet_pred = retweet_pred_model(features) # retweet_model
                    quote_pred = quote_pred_model(features) # pred_model
                    fav_pred = fav_pred_model(features) # fav_model
                    
                    # print(str(tweet_timestamp))
#                     print(str(reply_pred)+" "+str(retweet_pred)+" "+str(quote_pred)+" "+str(fav_pred))
                    
                    output.write(f'{tweet_id},{user_id},{reply_pred},{retweet_pred},{quote_pred},{fav_pred}\n')

In [142]:
def load_data(filename):
        data = pd.read_csv(filename, sep='\x01', names=all_features, index_col=False)
        return data

In [143]:
# evaluate_test_set()

In [175]:
data = load_data(path_to_data + dataset_type)

# We choose first 5k rows in order to work faster with the data
data = data.head(5000)

In [176]:
data.head()

,text_tokens,hashtags,tweet_id,present_media,present_links,present_domains,tweet_type,language,tweet_timestamp,engaged_with_user_id,engaged_with_user_follower_count,engaged_with_user_following_count,engaged_with_user_is_verified,engaged_with_user_account_creation,engaging_user_id,enaging_user_follower_count,enaging_user_following_count,enaging_user_is_verified,enaging_user_account_creation,engagee_follows_engager,reply_timestamp,retweet_timestamp,retweet_with_comment_timestamp,like_timestamp
0,101\t100\t100\t100\t100\t100\t100\t100\t100\t1...,NaN,395A05A1E8A0A4CEB2E623281C7A41EE,NaN,NaN,NaN,TopLevel,313ECD3A1E5BB07406E4249475C2D6D6,1614207600,55F619B7474C1BA0C8EE03C2A31C534C,6567,4006,False,1456262411,736278C2FEC488516CDA4ED6952A2154,1139,1126,False,1601425426,False,NaN,NaN,NaN,1.614208e+09
1,101\t100\t100\t100\t100\t100\t216\t216\t10243\...,NaN,81E8247F4E74A0FCDBA911E1A3CB5412,Photo,758E6F75A253992C7070F6B8A8A891A6,6B7D92057ACA0F97EFB5B724D3C963E4,TopLevel,B0FA488F2911701DD8EC5B1EA5E322D8,1614207600,9B49D384D56A65E00A12D8349EB46CE5,47951,681,True,1305833605,19D5367D835484236CAF9DBEF475FF7A,82,76,False,1495813718,False,NaN,NaN,NaN,NaN
2,101\t100\t100\t100\t100\t100\t216\t216\t10243\...,NaN,81E8247F4E74A0FCDBA911E1A3CB5412,Photo,758E6F75A253992C7070F6B8A8A891A6,6B7D92057ACA0F97EFB5B724D3C963E4,TopLevel,B0FA488F2911701DD8EC5B1EA5E322D8,1614207600,9B49D384D56A65E00A12D8349EB46CE5,47951,681,True,1305833605,40BEB04CF8D3CB02449879668656FFDB,108,351,False,1506038593,False,NaN,NaN,NaN,NaN
3,101\t100\t100\t100\t100\t100\t216\t216\t10243\...,NaN,81E8247F4E74A0FCDBA911E1A3CB5412,Photo,758E6F75A253992C7070F6B8A8A891A6,6B7D92057ACA0F97EFB5B724D3C963E4,TopLevel,B0FA488F2911701DD8EC5B1EA5E322D8,1614207600,9B49D384D56A65E00A12D8349EB46CE5,47951,681,True,1305833605,6415C94D3C27BA84C069DE049EBB3EDE,69,106,False,1562533868,False,NaN,NaN,NaN,NaN
4,101\t100\t100\t100\t100\t100\t216\t216\t10243\...,NaN,81E8247F4E74A0FCDBA911E1A3CB5412,Photo,758E6F75A253992C7070F6B8A8A891A6,6B7D92057ACA0F97EFB5B724D3C963E4,TopLevel,B0FA488F2911701DD8EC5B1EA5E322D8,1614207600,9B49D384D56A65E00A12D8349EB46CE5,47951,681,True,1305833605,7E614D5881BC18768880CC374C4BE821,24,180,False,1302057914,False,NaN,NaN,NaN,NaN

In [177]:
def columns_to_list(data, columns):
    
    for col in columns:
        data[col] = data[col].str.split('\t')
    return data


def columns_to_timestamps(data, columns):
    for col in columns:  
        data[col] = data[col].apply(lambda x: pd.Timestamp(x, unit='s'))
        
    return data
    
cols_to_list = ['text_tokens', 'hashtags', 'present_media', 'present_links', 'present_domains']
data = columns_to_list(data, cols_to_list)    

cols_to_timestamps = ['tweet_timestamp', 'enaging_user_account_creation', 'reply_timestamp', 'retweet_timestamp', 'retweet_with_comment_timestamp', 'like_timestamp']
data = columns_to_timestamps(data, cols_to_timestamps)

In [178]:
pd.set_option('display.max_columns', None)
print(data.shape)
display(data.head(50))

(5000, 24)

,text_tokens,hashtags,tweet_id,present_media,present_links,present_domains,tweet_type,language,tweet_timestamp,engaged_with_user_id,engaged_with_user_follower_count,engaged_with_user_following_count,engaged_with_user_is_verified,engaged_with_user_account_creation,engaging_user_id,enaging_user_follower_count,enaging_user_following_count,enaging_user_is_verified,enaging_user_account_creation,engagee_follows_engager,reply_timestamp,retweet_timestamp,retweet_with_comment_timestamp,like_timestamp
0,"[101, 100, 100, 100, 100, 100, 100, 100, 100, ...",NaN,395A05A1E8A0A4CEB2E623281C7A41EE,NaN,NaN,NaN,TopLevel,313ECD3A1E5BB07406E4249475C2D6D6,2021-02-24 23:00:00,55F619B7474C1BA0C8EE03C2A31C534C,6567,4006,False,1456262411,736278C2FEC488516CDA4ED6952A2154,1139,1126,False,2020-09-30 00:23:46,False,NaT,NaT,NaT,2021-02-24 23:05:04
1,"[101, 100, 100, 100, 100, 100, 216, 216, 10243...",NaN,81E8247F4E74A0FCDBA911E1A3CB5412,[Photo],[758E6F75A253992C7070F6B8A8A891A6],[6B7D92057ACA0F97EFB5B724D3C963E4],TopLevel,B0FA488F2911701DD8EC5B1EA5E322D8,2021-02-24 23:00:00,9B49D384D56A65E00A12D8349EB46CE5,47951,681,True,1305833605,19D5367D835484236CAF9DBEF475FF7A,82,76,False,2017-05-26 15:48:38,False,NaT,NaT,NaT,NaT
2,"[101, 100, 100, 100, 100, 100, 216, 216, 10243...",NaN,81E8247F4E74A0FCDBA911E1A3CB5412,[Photo],[758E6F75A253992C7070F6B8A8A891A6],[6B7D92057ACA0F97EFB5B724D3C963E4],TopLevel,B0FA488F2911701DD8EC5B1EA5E322D8,2021-02-24 23:00:00,9B49D384D56A65E00A12D8349EB46CE5,47951,681,True,1305833605,40BEB04CF8D3CB02449879668656FFDB,108,351,False,2017-09-22 00:03:13,False,NaT,NaT,NaT,NaT
3,"[101, 100, 100, 100, 100, 100, 216, 216, 10243...",NaN,81E8247F4E74A0FCDBA911E1A3CB5412,[Photo],[758E6F75A253992C7070F6B8A8A891A6],[6B7D92057ACA0F97EFB5B724D3C963E4],TopLevel,B0FA488F2911701DD8EC5B1EA5E322D8,2021-02-24 23:00:00,9B49D384D56A65E00A12D8349EB46CE5,47951,681,True,1305833605,6415C94D3C27BA84C069DE049EBB3EDE,69,106,False,2019-07-07 21:11:08,False,NaT,NaT,NaT,NaT
4,"[101, 100, 100, 100, 100, 100, 216, 216, 10243...",NaN,81E8247F4E74A0FCDBA911E1A3CB5412,[Photo],[758E6F75A253992C7070F6B8A8A891A6],[6B7D92057ACA0F97EFB5B724D3C963E4],TopLevel,B0FA488F2911701DD8EC5B1EA5E322D8,2021-02-24 23:00:00,9B49D384D56A65E00A12D8349EB46CE5,47951,681,True,1305833605,7E614D5881BC18768880CC374C4BE821,24,180,False,2011-04-06 02:45:14,False,NaT,NaT,NaT,NaT
5,"[101, 100, 100, 100, 100, 100, 216, 216, 10243...",NaN,81E8247F4E74A0FCDBA911E1A3CB5412,[Photo],[758E6F75A253992C7070F6B8A8A891A6],[6B7D92057ACA0F97EFB5B724D3C963E4],TopLevel,B0FA488F2911701DD8EC5B1EA5E322D8,2021-02-24 23:00:00,9B49D384D56A65E00A12D8349EB46CE5,47951,681,True,1305833605,9CFE74AF494F669C35496B000C5843AB,269,494,False,2011-11-11 23:21:18,False,NaT,NaT,NaT,NaT
6,"[101, 100, 100, 100, 100, 100, 216, 216, 10243...",NaN,81E8247F4E74A0FCDBA911E1A3CB5412,[Photo],[758E6F75A253992C7070F6B8A8A891A6],[6B7D92057ACA0F97EFB5B724D3C963E4],TopLevel,B0FA488F2911701DD8EC5B1EA5E322D8,2021-02-24 23:00:00,9B49D384D56A65E00A12D8349EB46CE5,47951,681,True,1305833605,B5FAB4F5EC1B12BE7E7FE0C27662EB80,770,1323,False,2010-06-18 17:25:31,True,NaT,NaT,NaT,2021-02-24 23:42:41
7,"[101, 100, 100, 11045, 12589, 10545, 27920, 71...",[2C8377CDAFF61B5431417E4615B5C079],40729594A0EC3DB7D690C6789EC11992,[Video],NaN,NaN,TopLevel,B0FA488F2911701DD8EC5B1EA5E322D8,2021-02-24 23:00:00,13F0E6E89E19B4E2F6C6F881E6B5B35E,4428,376,False,1454502209,BDAFE5407EF4AA3E63E12B8074CA6951,201,1322,False,2010-08-03 04:23:42,False,NaT,NaT,NaT,NaT
8,"[101, 100, 100, 216, 216, 137, 10183, 10115, 1...",NaN,E5DE595BFF4F548CE9CD32B599FAB516,[Video],NaN,NaN,TopLevel,488B32D24BD4BB44172EB981C1BCA6FA,2021-02-24 23:00:00,193A666BBC290075BB8E78672D0153A6,175968,161,False,1569911252,11612C81933A4F93C5F985AAFE3E04CB,47,356,False,2019-08-21 07:17:56,False,NaT,NaT,NaT,2021-02-24 23:07:39
9,"[101, 100, 100, 216, 216, 137, 10183, 10115, 1...",NaN,E5DE595BFF4F548CE9CD32B599FAB516,[Video],NaN,NaN,TopLevel,488B32D24BD4BB44172EB981C1BCA6FA,2021-02-24 23:00:00,193A666BBC290075BB8E78672D0153A6,175968,161,False,1569911252,218A62BB3B0650FBFC37DC7E4B4A4634,379,4867,False,2016-11-07 14:21:02,False,NaT,2021-02-24 23:33:22,NaT,2021-02-24 23:33:22
10,"[101, 100, 10055, 216, 11937, 15752, 111795, 2...",NaN,C06143FAFA6D7BDC115F4938C8FCC924,NaN,NaN,NaN,Quote,E7F038DE3EAD397AEC9193686C911677,2021-02-24 23:00:00,DB8F08C6F279D497D28C162DB9D318CA,193,382,False,1366986535,66EF45E9D5C5CCF258A43E6E086D4062,1086,1011,False,2019-06-19 00:55:56,True,NaT,NaT,NaT,NaT
11,"[101, 100, 100, 8028, 7450, 2558, 10059, 3911,...","[005DB11FE48FD9FCE48F8D058E18DBBE, 88A2A65C528...",DFB95B180306A714B20C46B99D450821,[Photo],NaN,NaN,TopLevel,E7F038DE3EAD397AEC9193686C911677,2021-02-24 23:00:00,9C2FE03D0A6ED3877ED38F9F9C6A643D,11005,42,False,1492662527,1277F1F03FF7B4C7ABB9BB81719202D4,4,180,False,2017-08-02 18:42:02,False,NaT,NaT,NaT,NaT
12,"[101, 100, 100, 8028, 7450, 2558, 10059, 3911,...","[005DB11FE48FD9FCE48F8D058E18DBBE, 88A2A65C528...",DFB95B180306A714B20C46B99D450821,[Photo],NaN,NaN,TopLevel,E7F038DE3EAD397AEC9193686C911677,2021-02-24 23:00:00,9C2FE03D0A6ED3877ED38F9F9C6A643D,11005,42,False,1492662527,3B917EC783290CDD0A027A0513212C22,45,218,False,2020-02-11 09:24:11,False,NaT,NaT,NaT,NaT
13,"[101, 100, 100, 8028, 7450, 2558, 10059, 3911,...","[005DB11FE48FD9FCE48F8D058E18DBBE, 88A2A65C528...",DFB95B180306A714B20C46B99D450821,[Photo],NaN,NaN,TopLevel,E7F038DE3EAD397AEC9193686C911677,2021-02-24 23:00:00,9C2FE03D0A6ED3877ED38F9F9C6A643D,11005,42,False,1492662527,45335998EF578665A53DEA3413BBD3EE,19,27,False,2017-05-04 11:20:18,False,NaT,NaT,NaT,2021-02-24 23:22:50
14,"[101, 100, 100, 8028, 7450, 2558, 10059, 3911,...","[005DB11FE48FD9FCE48F8D058E18DBBE, 88A2A65C528...",DFB95B180306A714B20C46B99D450821,[Photo],NaN,NaN,TopLevel,E7F038DE3EAD397AEC9193686C911677,2021-02-24 23:00:00,9C2FE03D0A6ED3877ED38F9F9C6A643D,11005,42,False,1492662527,7D8A6E95C2C175399602AB6C3037D5BF,66,237,False,2014-05-20 12:31:07,False,NaT,2021-02-24 23:26:05,NaT,2021-02-24 23:26:05
15,"[101, 100, 100, 8028, 7450, 2558, 10059, 3911,...","[005DB11FE48FD9FCE48F8D058E18DBBE, 88A2A65C528...",DFB95B180306A714B20C46B99D450821,[Photo],NaN,NaN,TopLevel,E7F038DE3EAD397AEC9193686C911677,2021-02-24 23:00:00,9C2FE03D0A6ED3877ED38F9F9C6A643D,11005,42,False,1492662527,CA85F8A1432E99CEBBB9F4437B28AA54,0,28,False,2020-05-26 10:47:04,False,NaT,NaT,NaT,NaT
16,"[101, 100, 100, 8028, 7450, 2558, 10059, 3911,...","[005DB11FE48FD9FCE48F8D058E18DBBE, 88A2A65C528...",DFB95B180306A714B20C46B99D450821,[Photo],NaN,NaN,TopLevel,E7F038DE3EAD397AEC9193686C911677,2021-02-24 23:00:00,9C2FE03D0A6ED3877ED38F9F9C6A643D,11005,42,False,1492662527,F240450A9B63F7C697DBA69E0D18A251,19,120,False,2019-08-25 10:36:57,False,NaT,NaT,NaT,2021-02-24 23:14:19
17,"[101, 100, 10125, 24301, 12013, 10104, 45876, ...","[8A338EB0D4381BB721B2C8582A263EE2, B5D8897F3BC...",4684A5B2EC909E7D94267A7AB582AA0C,"[Photo, Photo, Photo, Photo]",NaN,NaN,TopLevel,B0FA488F2911701DD8EC5B1EA5E322D8,2021-02-24 23:00:00,68CEFFDCC9A1F0F243D5D8B394713AC5,611494,2874,True,1276131557,167007C5E96D3CE2D1C3432873156026,501448,95,False,2010-08-19 14:51:39,True,NaT,2021-02-24 23:00:39,NaT,NaT
18,"[101, 100, 10125, 24301, 12013, 10104, 45876, ...","[8A338EB0D4381BB721B2C8582A263EE2, B5D8897F3BC...",4684A5B2EC909E7D94267A7AB582AA0C,"[Photo, Photo, Photo, Photo]",NaN,NaN,TopLevel,B0FA488F2911701DD8EC5B1EA5E322D8,2021-02-24 23:00:00,68CEFFDCC9A1F0F243D5D8B394713AC5,611494,2874,True,1276131557,4A088297CDE541DD61EF4DC8E874C60A,22,355,False,2019-01-14 00:56:13,True,NaT,NaT,NaT,2021-02-24 23:07:25
19,"[101, 100, 10125, 24301, 12013, 10104, 45876, ...","[8A338EB0D4381BB721B2C8582A263EE2, B5D8897F3BC...",4684A5B2EC909E7D94267A7AB582AA0C,"[Photo, Photo, Photo, Photo]",NaN,NaN,TopLevel,B0FA488F2911701DD8EC5B1EA5E322D8,2021-02-24 23:00:00,68CEFFDCC9A1F0F243D5D8B394713AC5,611494,2874,True,1276131557,5A965E8E3AD7505B8398BBDACBF6477A,394,203,False,2016-08-13 14:48:23,False,NaT,NaT,NaT,2021-02-24 23:49:11
20,"[101, 100, 10190, 10109, 23821, 10104, 20290, ...",NaN,4B3937ED6F4F26E61914BA282E1FB509,[Photo],[7194CE5CA30114C4A49854BD02A67349],[9EFF000CDB18B710CDDB43EE1D8C300B],TopLevel,B0FA488F2911701DD8EC5B1EA5E322D8,2021-02-24 23:00:00,8B3910EFDE2E79DC80199FFEE21A239F,1972400,221970,True,1170861734,7A4AADFBF8BAEE8874F05E5CEA149B4E,23,71,False,2017-11-07 03:17:04,False,2021-02-24 23:07:07,NaT,NaT,NaT
21,"[101, 100, 102]",NaN,AB95C3F47B899D27996898FC7DE15C23,NaN,NaN,NaN,Quote,313ECD3A1E5BB07406E4249475C2D6D6,2021-02-24 23:00:00,4D1E3C5ACCB58A7D37FD8CE08B8A0601,313,274,False,1565647777,0495E0325FE92B4D5635C3518BEDB2C9,439,500,False,2019-11-11 18:12:29,True,NaT,NaT,NaT,NaT
22,"[101, 100, 107, 69202, 107, 113, 10446, 118, 3...",[ADD046CBE0772A82F1360DB9E65A380C],70FA489FEA0D824E6B39AB96BF16A903,[Photo],NaN,NaN,TopLevel,488B32D24BD4BB44172EB981C1BCA6FA,2021-02-24 23:00:00,EC17A408CA6FCBFEFF3AC2267F0E66A5,1454,1116,True,1460662973,A6057F6F8412EC0CEC96B4803E6558B6,244,1411,False,2016-03-22 17:23:35,False,NaT,NaT,NaT,NaT
23,"[101, 100, 107779, 12900, 137, 84707, 42108, 1...","[EF17B50979395D0D299E5349922B032C, 21991C5CCC9...",03B3458017EDF646D44BE14D9D3BC461,[Photo],[ADEB5DB65B0768B07CE8D057A88F11BA],[9EFF000CDB18B710CDDB43EE1D8C300B],TopLevel,B8B04128918BBF54E2E178BFF1ABA833,2021-02-24 23:00:00,A397634CB9484E95AEFD59438C9D20C2,1147,50,False,1526667839,5C0659FBE930E8275AD5D4DF6C0E084F,55,104,False,2019-05-04 15:59:26,False,NaT,NaT,NaT,NaT
24,"[101, 100, 108, 10159, 11779, 20129, 11490, 10...",[AD264C314683428834F12A9FB66341BD],ED7CEC4228CAE723FBEB31CDF524CA55,[Video],NaN,NaN,TopLevel,B0FA488F2911701DD8EC5B1EA5E322D8,2021-02-24 23:00:00,5A38357D649427FD67C3E867AFE7AD21,49760,507,False,1585196685,CDF51BC421CF4089F67C56BC668DB177,38,108,False,2012-08-15 05:54:02,False,NaT,2021-02-24 23:00:59,NaT,2021-02-24 23:00:59
25,"[101, 100, 108, 10850, 14652, 10415, 110214, 1...",[C4AB4394BB23E4B75D8626BC7D4C8C98],BF7EF5C583EF06B85169975C898EBE86,"[Photo, Photo]",[E35A8271557B1D1EF2CF0168DA9E6A68],[9EFF000CDB18B710CDDB43EE1D8C300B],TopLevel,B0FA488F2911701DD8EC5B1EA5E322D8,2021-02-24 23:00:00,9B2E0F706D2190267F8F4E6FF2909ED7,14796,1429,True,1223036873,92B5F8D80B78EE13FAC6CF88AC45695B,82,72,False,2012-01-28 08:55:32,False,NaT,NaT,NaT,NaT
26,"[101, 100, 108, 39774, 50655, 51036, 108, 9746...","[DE5BC1228A77FDB285945C3A47E622A6, 6600C09C6EE...",486757C39BF7CF6016CCDC5C1919FF8B,"[Photo, Photo]",NaN,NaN,TopLevel,488B32D24BD4BB44172EB981C1BCA6FA,2021-02-24 23:00:00,5EB948F162D4ED38E9859D27813AC0E0,5976,82,False,1591267483,9C6841B85A13876E252EBFA627274205,18,517,False,2020-04-22 03:05:10,False,NaT,NaT,NaT,2021-02-24 23:45:59
27,"[101, 100, 11149, 100, 187, 10464, 10108, 1267...",[CE1200F2E17699595D3D57382ED42367],821B5D4A98CF158C3F14B1BD76E269D4,NaN,[9174FFB6AED4816B5380FD86B0F0E184],[1F525F368D1F6B785055626CE7DB6DBC],TopLevel,488B32D24BD4BB44172EB981C1BCA6FA,2021-02-24 23:00:00,9415F6B5A4EF29D54C8BB597B1156164,22688,1701,False,1535931595,18194371682AC9F07DDD357776EE11A7,105,221,False,2018-09-16 21:17:10,False,NaT,NaT,NaT,NaT
28,"[101, 100, 11149, 100, 187, 10464, 10108, 1267...",[CE1200F2E17699595D3D57382ED42367],821B5D4A98CF158C3F14B1BD76E269D4,NaN,[9174FFB6AED4816B5380FD86B0F0E184],[1F525F368D1F6B785055626CE7DB6DBC],TopLevel,488B32D24BD4BB44172EB981C1BCA6FA,2021-02-24 23:00:00,9415F6B5A4EF29D54C8BB597B1156164,22688,1701,False,1535931595,4C11ABD651E573FCBA5B1E32072081B5,16,59,False,2020-09-11 23:16:35,False,NaT,NaT,NaT,NaT
29,"[101, 100, 11149, 100, 187, 10464, 10108, 1267...",[CE1200F2E17699595D3D57382ED42367],821B5D4A98CF158C3F14B1BD76E269D4,NaN,[9174FFB6AED4816B5380FD86B0F0E184],[1F525F368D1F6B785055626CE7DB6DBC],TopLevel,488B32D24BD4BB44172EB981C1BCA6FA,2021-02-24 23:00:00,9415F6B5A4EF29D54C8BB597B1156164,22688,1701,False,1535931595,581980065ACBD23CA37C3156C178DBA0,42,273,False,2017-04-19 22:29:16,False,NaT,NaT,NaT,NaT
30,"[101, 100, 11149, 100, 187, 10464, 10108, 1267...",[CE1200F2E17699595D3D57382ED42367],821B5D4A98CF158C3F14B1BD76E269D4,NaN,[9174FFB6AED4816B5380FD86B0F0E184],[1F525F368D1F6B785055626CE7DB6DBC],TopLevel,488B32D24BD4BB44172EB981C1BCA6FA,2021-02-24 23:00:00,9415F6B5A4EF29D54C8BB597B1156164,22688,1701,False,1535931595,64F82C70D17319B4D43F2725DA27B783,208,531,False,2010-08-29 13:47:16,False,NaT,NaT,NaT,NaT
31,"[101, 100, 11149, 100, 187, 10464, 10108, 1267...",[CE1200F2E17699595D3D57382ED42367],821B5D4A98CF158C3F14B1BD76E269D4,NaN,[9174FFB6AED4816B5380FD86B0F0E184],[1F525F368D1F6B785055626CE7DB6DBC],TopLevel,488B32D24BD4BB44172EB981C1BCA6FA,2021-02-24 23:00:00,9415F6B5A4EF29D54C8BB597B1156164,22688,1701,False,1535931595,DEB026C5ED654C06A7C4B54898E186F9,91,452,False,2020-05-13 19:26:45,False,NaT,NaT,NaT,NaT
32,"[101, 100, 11149, 100, 187, 10464, 10108, 1267...",[CE1200F2E17699595D3D57382ED42367],821B5D4A98CF158C3F14B1BD76E269D4,NaN,[9174FFB6AED4816B5380FD86B0F0E184],[1F525F368D1F6B785055626CE7DB6DBC],TopLevel,488B32D24BD4BB44172EB981C1BCA6FA,2021-02-24 23:00:00,9415F6B5A4EF29D54C8BB597B1156164,22688,1701,False,1535931595,F466EE62609273208EEFD813FF064D15,60,165,False,2016-12-05 03:05:58,False,NaT,NaT,NaT,NaT
33,"[101, 100, 113, 108, 2006, 18872, 24532, 114, ...","[F4BF39A40168912A9F967EA0B837D547, 1D4BB3F11F2...",0195E193FB3865120F97DE561EACFD44,[Photo],"[6292846828FB25803FE6D1081AEB78B1, 9F73180E2B3...","[9EFF000CDB18B710CDDB43EE1D8C300B, 5B43996A482...",TopLevel,E7F038DE3EAD397AEC9193686C911677,2021-02-24 23:00:00,D80218D3B0C59D45539D0A9A3BCF4A39,30566,497,False,1591001807,009BB83DD910B2936E9751555B77DCC5,225,1416,False,2020-07-24 16:17:42,False,NaT,NaT,NaT,NaT
34,"[101, 100, 113, 108, 2006, 18872, 24532, 114, ...","[F4BF39A40168912A9F967EA0B837D547, 1D4BB3F11F2...",0195E193FB3865120F97DE561EACFD44,[Photo],"[6292846828FB25803FE6D1081AEB78B1, 9F73180E2B3...","[9EFF000CDB18B710CDDB43EE1D8C300B, 5B43996A482...",TopLevel,E7F038DE3EAD397AEC9193686C911677,2021-02-24 23:00:00,D80218D3B0C59D45539D0A9A3BCF4A39,30566,497,False,1591001807,1F2B43618DF84C68F6041937194EEE27,82,264,False,2018-08-27 00:24:16,False,NaT,NaT,NaT,NaT
35,"[101, 100, 113, 108, 2006, 18872, 24532, 114, ...","[F4BF39A40168912A9F967EA0B837D547, 1D4BB3F11F2...",0195E193FB3865120F97DE561EACFD44,[Photo],"[6292846828FB25803FE6D1081AEB78B1, 9F73180E2B3...","[9EFF000CDB18B710CDDB43EE1D8C300B, 5B43996A482...",TopLevel,E7F038DE3EAD397AEC9193686C911677,2021-02-24 23:00:00,D80218D3B0C59D45539D0A9A3BCF4A39,30566,497,False,1591001807,30B728A47289000694D0F3B730A640A1,349,424,False,2014-05-18 07:57:21,False,NaT,NaT,NaT,NaT
36,"[101, 100, 113, 108, 2006, 18872, 24532, 114, ...","[F4BF39A40168912A9F967EA0B837D547, 1D4BB3F11F2...",0195E193FB3865120F97DE561EACFD44,[Photo],"[6292846828FB25803FE6D1081AEB78B1, 9F73180E2B3...","[9EFF000CDB18B710CDDB43EE1D8C300B, 5B43996A482...",TopLevel,E7F038DE3EAD397AEC9193686C911677,2021-02-24 23:00:00,D80218D3B0C59D45539D0A9A3BCF4A39,30566,497,False,1591001807,681C0C003844E173B2654AE874E1ECA0,121,240,False,2014-11-13 18:17:18,False,NaT,NaT,NaT,NaT
37,"[101, 100, 113, 108, 2006, 18872, 24532, 114, ...","[F4BF39A40168912A9F967EA0B837D547, 1D4BB3F11F2...",0195E193FB3865120F97DE561EACFD44,[Photo],"[6292846828FB25803FE6D1081AEB78B1, 9F73180E2B3...","[9EFF000CDB18B710CDDB43EE1D8C300B, 5B43996A482...",TopLevel,E7F038DE3EAD397AEC9193686C911677,2021-02-24 23:00:00,D80218D3B0C59D45539D0A9A3BCF4A39,30566,497,False,1591001807,7CB6FA83E49B33A879D0DA6FA4DDCAF8,208,2806,False,2014-09-06 07:45:16,False,NaT,NaT,NaT,NaT
38,"[101, 100, 113, 108, 2006, 18872, 24532, 114, ...","[F4BF39A40168912A9F967EA0B837D547, 1D4BB3F11F2...",0195E193FB3865120F97DE561EACFD44,[Photo],"[6292846828FB25803FE6D1081AEB78B1, 9F73180E2B3...","[9EFF000CDB18B710CDDB43EE1D8C300B, 5B43996A482...",TopLevel,E7F038DE3EAD397AEC9193686C911677,2021-02-24 23:00:00,D80218D3B0C59D45539D0A9A3BCF4A39,30566,497,False,1591001807,88B4389EB8E4B019E33EBC6C6A942F85,30,53,False,2020-06-07 11:06:25,False,NaT,NaT,NaT,NaT
39,"[101, 100, 113, 108, 2006, 18872, 24532, 114, ...","[F4BF39A40168912A9F967EA0B837D547, 1D4BB3F11F2...",0195E193FB3865120F97DE561EACFD44,[Photo],"[6292846828FB25803FE6D1081AEB78B1, 9F73180E2B3...","[9EFF000CDB18B710CDDB43EE1D8C300B, 5B43996A482...",TopLevel,E7F038DE3EAD397AEC9193686C911677,2021-02-24 23:00:00,D80218D3B0C59D45539D0A9A3BCF4A39,30566,497,False,1591001807,BB5A750E3973FF5E831A8E271EF5CB61,215,1138,False,2020-06-23 09:36:54,False,NaT,NaT,NaT,NaT
40,"[101, 100, 118, 118, 118, 118, 118, 118, 118, ...",NaN,EE1E2CA21AE7962220918C9D349C7A2A,NaN,NaN,NaN,TopLevel,313ECD3A1E5BB07406E4249475C2D6D6,2021-02-24 23:00:00,796731D0DF96103FA66675141A2E1CD6,264243,15,False,1266985501,095D20CD42C127B5EF1A08D10D8CABB0,768,884,False,2012-11-05 05:23:02,False,NaT,NaT,NaT,2021-02-24 23:01:58
41,"[101, 100, 119, 119, 119, 105443, 99380, 12820...","[FC1CA697FA8DD36E362BEF45C18EB69E, 90344B0F83B...",108468855AE5CDCB208F25123E393484,[Photo],NaN,NaN,TopLevel,488B32D24BD4BB44172EB981C1BCA6FA,2021-02-24 23:00:00,A9D4A7AC6A42E10EDBDED665FB252474,512,1440,False,1552740992,12177F7563407DD6556986C4474DB086,141,466,False,2020-10-13 18:30:17,True,NaT,NaT,NaT,2021-02-24 23:01:53
42,"[101, 100, 119, 119, 119, 105443, 99380, 12820...","[FC1CA697FA8DD36E362BEF45C18EB69E, 90344B0F83B...",108468855AE5CDCB208F25123E393484,[Photo],NaN,NaN,TopLevel,488B32D24BD4BB44172EB981C1BCA6FA,2021-02-24 23:00:00,A9D4A7AC6A42E10EDBDED665FB252474,512,1440,False,1552740992,276A47C6E9E53C4D5E1BD3F1A6C418A9,174,310,False,2017-10-20 22:37:48,True,NaT,NaT,NaT,2021-02-24 23:24:26
43,"[101, 100, 12865, 50918, 10112, 13028, 10142, ...",NaN,04B7C7744E1A531EED5C2ECFAC311F58,NaN,[20CDBA2FD8060FDFF0A595897960198C],[8DFB1F5A65091CA45888932E8B6D7958],TopLevel,488B32D24BD4BB44172EB981C1BCA6FA,2021-02-24 23:00:00,063DF403460E8D88D63DBADC7FAFF2D3,3589,628,False,1406067558,A16A927B72912BE11BB12B9892C8EA6F,505,256,False,2012-04-12 19:54:43,False,NaT,NaT,NaT,NaT
44,"[101, 100, 13666, 263, 169, 16077, 24850, 1022...","[B00E3681F8B9172CF993E51CFD0A9DD8, 0E796E96B27...",3215CCE0D8B070F3600BE9F84728BD14,[Photo],[47AF30DD2C1C576F29039B061E44142B],[9EFF000CDB18B710CDDB43EE1D8C300B],TopLevel,B8B04128918BBF54E2E178BFF1ABA833,2021-02-24 23:00:00,346990CB288D0F76ABD4500C6F52FFDB,580956,863,True,1244745348,0158932D4AA4FF10FD8267F82EF7BD02,820,1249,False,2011-05-13 14:23:38,False,NaT,NaT,NaT,NaT
45,"[101, 100, 13666, 263, 169, 16077, 24850, 1022...","[B00E3681F8B9172CF993E51CFD0A9DD8, 0E796E96B27...",3215CCE0D8B070F3600BE9F84728BD14,[Photo],[47AF30DD2C1C576F29039B061E44142B],[9EFF000CDB18B710CDDB43EE1D8C300B],TopLevel,B8B04128918BBF54E2E178BFF1ABA833,2021-02-24 23:00:00,346990CB288D0F76ABD4500C6F52FFDB,580956,863,True,1244745348,1E190FA5990C8C865E4C7134EF789A79,393,397,False,2019-08-01 17:30:32,False,NaT,NaT,NaT,NaT
46,"[101, 100, 13666, 263, 169, 16077, 24850, 1022...","[B00E3681F8B9172CF993E51CFD0A9DD8, 0E796E96B27...",3215CCE0D8B070F3600BE9F84728BD14,[Photo],[47AF30DD2C1C576F29039B061E44142B],[9EFF000CDB18B710CDDB43EE1D8C300B],TopLevel,B8B04128918BBF54E2E178BFF1ABA833,2021-02-24 23:00:00,346990CB288D0F76ABD4500C6F52FFDB,580956,863,True,1244745348,385FEE85EFE4C8BEBED2EB9412D45CBF,7,153,False,2018-05-08 05:07:29,False,NaT,NaT,NaT,NaT
47,"[101, 100, 13666, 263, 169, 16077, 24850, 1022...","[B00E3681F8B9172CF993E51CFD0A9DD8, 0E796E96B27...",3215CCE0D8B070F3600BE9F84728BD14,[Photo],[47AF30DD2C1C576F29039B061E44142B],[9EFF000CDB18B710CDDB43EE1D8C300B],TopLevel,B8B04128918BBF54E2E178BFF1ABA833,2021-02-24 23:00:00,346990CB288D0F76ABD4500C6F52FFDB,580956,863,True,1244745348,3FE8AE189AD2BC9C5F9B20723354D754,1043,1002,False,2011-06-21 00:17:38,False,NaT,NaT,NaT,NaT
48,"[101, 100, 13666, 263, 169, 16077, 24850, 1022...","[B00E3681F8B9172CF993E51CFD0A9DD8, 0E796E96B27...",3215CCE0D8B070F3600BE9F84728BD14,[Photo],[47AF30DD2C1C576F29039B061E44142B],[9EFF000CDB18B710CDDB43EE1D8C300B],TopLevel,B8B04128918BBF54E2E178BFF1ABA833,2021-02-24 23:00:00,346990CB288D0F76ABD4500C6F52FFDB,580956,863,True,1244745348,463ED0FA95E35A21765C72ABC17F214C,2488,3177,False,2011-06-05 23:01:00,False,NaT,NaT,NaT,NaT

In [179]:
data.head()

,text_tokens,hashtags,tweet_id,present_media,present_links,present_domains,tweet_type,language,tweet_timestamp,engaged_with_user_id,engaged_with_user_follower_count,engaged_with_user_following_count,engaged_with_user_is_verified,engaged_with_user_account_creation,engaging_user_id,enaging_user_follower_count,enaging_user_following_count,enaging_user_is_verified,enaging_user_account_creation,engagee_follows_engager,reply_timestamp,retweet_timestamp,retweet_with_comment_timestamp,like_timestamp
0,"[101, 100, 100, 100, 100, 100, 100, 100, 100, ...",NaN,395A05A1E8A0A4CEB2E623281C7A41EE,NaN,NaN,NaN,TopLevel,313ECD3A1E5BB07406E4249475C2D6D6,2021-02-24 23:00:00,55F619B7474C1BA0C8EE03C2A31C534C,6567,4006,False,1456262411,736278C2FEC488516CDA4ED6952A2154,1139,1126,False,2020-09-30 00:23:46,False,NaT,NaT,NaT,2021-02-24 23:05:04
1,"[101, 100, 100, 100, 100, 100, 216, 216, 10243...",NaN,81E8247F4E74A0FCDBA911E1A3CB5412,[Photo],[758E6F75A253992C7070F6B8A8A891A6],[6B7D92057ACA0F97EFB5B724D3C963E4],TopLevel,B0FA488F2911701DD8EC5B1EA5E322D8,2021-02-24 23:00:00,9B49D384D56A65E00A12D8349EB46CE5,47951,681,True,1305833605,19D5367D835484236CAF9DBEF475FF7A,82,76,False,2017-05-26 15:48:38,False,NaT,NaT,NaT,NaT
2,"[101, 100, 100, 100, 100, 100, 216, 216, 10243...",NaN,81E8247F4E74A0FCDBA911E1A3CB5412,[Photo],[758E6F75A253992C7070F6B8A8A891A6],[6B7D92057ACA0F97EFB5B724D3C963E4],TopLevel,B0FA488F2911701DD8EC5B1EA5E322D8,2021-02-24 23:00:00,9B49D384D56A65E00A12D8349EB46CE5,47951,681,True,1305833605,40BEB04CF8D3CB02449879668656FFDB,108,351,False,2017-09-22 00:03:13,False,NaT,NaT,NaT,NaT
3,"[101, 100, 100, 100, 100, 100, 216, 216, 10243...",NaN,81E8247F4E74A0FCDBA911E1A3CB5412,[Photo],[758E6F75A253992C7070F6B8A8A891A6],[6B7D92057ACA0F97EFB5B724D3C963E4],TopLevel,B0FA488F2911701DD8EC5B1EA5E322D8,2021-02-24 23:00:00,9B49D384D56A65E00A12D8349EB46CE5,47951,681,True,1305833605,6415C94D3C27BA84C069DE049EBB3EDE,69,106,False,2019-07-07 21:11:08,False,NaT,NaT,NaT,NaT
4,"[101, 100, 100, 100, 100, 100, 216, 216, 10243...",NaN,81E8247F4E74A0FCDBA911E1A3CB5412,[Photo],[758E6F75A253992C7070F6B8A8A891A6],[6B7D92057ACA0F97EFB5B724D3C963E4],TopLevel,B0FA488F2911701DD8EC5B1EA5E322D8,2021-02-24 23:00:00,9B49D384D56A65E00A12D8349EB46CE5,47951,681,True,1305833605,7E614D5881BC18768880CC374C4BE821,24,180,False,2011-04-06 02:45:14,False,NaT,NaT,NaT,NaT

# Splitting dataset into train and test

# Evaluation

# Create a Ratings Matrix

# Extract Social Network

# Implement a Baseline

In [ ]:
# hidden

In [ ]:
# feel free to edit

In [ ]:
# feel free to edit

In [ ]:
# feel free to edit

In [ ]:
# feel free to edit

In [ ]:
# feel free to edit

In [ ]:
# feel free to edit

In [ ]:
# feel free to edit

In [ ]:
# feel free to edit

In [ ]:
# feel free to edit

In [ ]:
# feel free to edit